main(role='main')
  h1.page-title
      i.fa.fa-dashboard
      | Dashboard
  .page-row
      section#my-stats
          h2 My Stats (12 Months)
          ul.list-group
              li.list-group-item
                  span.badge
                      span.value 100
                      | %
                  | Billable (avg 75%)
              li.list-group-item
                  span.badge
                      span.value 0
                      | %
                  | Under-Estimating (avg 43% over)
              li.list-group-item
                  span.badge
                      span.value 96
                      | %
                  | Timesheets On-time (avg 91%)
              li.list-group-item
                  span.badge
                      span.value 0.0
                      | days
                  | Vacation Taken
              li.list-group-item
                  span.badge
                      span.value 0
                      | hrs
                  | Overtime Accrued
              li.list-group-item
                  span.badge
                      span.value 0
                      | hrs
                  | Training Time
              li.list-group-item
                  span.badge
                      span.value 0
                      | hrs
                  | Working Group Time
      ul
          li#my-todo
              .panel.panel-default
                  .panel-heading
                      h2.panel-title My To-Do's
                      a.pull-right(href="#", title="Expand My To-Do List")
                          i.fa.fa-plus
                  .panel-body
                      .tab
                          ul.nav.nav-tabs(role='tablist')
                              li.active(role='presentation')
                                  a(href='#task-active', aria-controls='home', role='tab', data-toggle='tab') Active
                              li(role='presentation')
                                  a(href='#task-deferred', aria-controls='profile', role='tab', data-toggle='tab') Deferred
                              li(role='presentation')
                                  a(href='#task-complete', aria-controls='messages', role='tab', data-toggle='tab') Complete
                          .tab-content
                              #task-active.tab-pane.active(role='tabpanel')
                                  ul.list-group
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                              img.img-circle#member-1.draggable.ui-draggable.ui-draggable-handle(src='../images/team-member-abdi.png', alt='Abdikadir Kedie')
                                              img.img-circle#member-2.draggable.ui-draggable.ui-draggable-handle(src='../images/team-member-cindy.png', alt='Cindy Lopes')
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                              img.img-circle#member-2.draggable.ui-draggable.ui-draggable-handle(src='../images/team-member-cindy.png', alt='Cindy Lopes')
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                                      li.list-group-item
                                          i.fa.fa-check-square-o(aria-hidden='true')
                                          .droppable
                                          a(href="#", data-toggle="modal", data-target="#todo-modal") Do Something
                              #task-deferred.tab-pane(role='tabpanel')
                                  p Dummy content in Deferred Tab.
                                  //- ul.list-group
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		img(src="../images/team-member-abdi.png", alt="Abdikadir Kedie")
                                  //- 		img(src="../images/team-member-cindy.png", alt="Cindy Lopes")
                                  //- 		| Do Something More
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		img(src="../images/team-member-cindy.png", alt="Cindy Lopes")
                                  //- 		| Do Something More
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		| Do Something More
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		| Do Something More
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		| Do Something More
                              #task-complete.tab-pane(role='tabpanel')
                                  p Dummy content in Complete Tab.
                                  //- ul.list-group
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		img(src="../images/team-member-abdi.png", alt="Abdikadir Kedie")
                                  //- 		img(src="../images/team-member-cindy.png", alt="Cindy Lopes")
                                  //- 		| Do Something Much
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		img(src="../images/team-member-cindy.png", alt="Cindy Lopes")
                                  //- 		| Do Something Much
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		| Do Something Much
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		| Do Something Much
                                  //- 	li.list-group-item
                                  //- 		i.fa.fa-check-square-o(aria-hidden='true')
                                  //- 		| Do Something Much
                          a.view-more(href="#", title="View More Tasks")
                              i.fa.fa-angle-double-down(aria-hidden='true')
          li#my-tasks
              .panel.panel-default
                  .panel-heading
                      h2.panel-title My Current Tasks
                  .panel-body
                      header
                          .tasks
                              | Tasks
                              span.value (10)
                          .status
                              | Status
                      ul.list-group
                          li.list-group-item
                              a(href="#")
                                i.fa.fa-check-square-o(aria-hidden='true')
                              a(href="#", data-toggle="modal", data-target="#task-details-modal")
                                i.fa.fa-list-alt(aria-hidden='true')
                              span 1
                              | RONE-0757 (Remote Document Delivery)
                              span FFD-C2029 - UI Design
                              .progress
                                  .progress-bar(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                                  span.sr-only 60% Complete
                          li.list-group-item
                              a(href="#")
                                i.fa.fa-check-square-o(aria-hidden='true')
                              a(href="#", data-toggle="modal", data-target="#task-details-modal")
                                i.fa.fa-list-alt(aria-hidden='true')
                              span 1
                              | RONE-0757 (Remote Document Delivery)
                              span FFD-C2029 - Development
                              .progress
                                  .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                                  span.sr-only 60% Complete
                          li.list-group-item
                              a(href="#")
                                i.fa.fa-check-square-o(aria-hidden='true')
                              a(href="#", data-toggle="modal", data-target="#task-details-modal")
                                i.fa.fa-list-alt(aria-hidden='true')
                              span 1
                              | RONE-0757 (Remote Document Delivery)
                              span FFD-C2029 - Testing
                              .progress
                                  .progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                                  span.sr-only 60% Complete
                          li.list-group-item
                              a(href="#")
                                i.fa.fa-check-square-o(aria-hidden='true')
                              a(href="#", data-toggle="modal", data-target="#task-details-modal")
                                i.fa.fa-list-alt(aria-hidden='true')
                              span 1
                              | RONE-0757 (Remote Document Delivery)
                              span FFD-C2029 - Testing
                              .progress
                                  .progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                                  span.sr-only 60% Complete
                          li.list-group-item
                              a(href="#")
                                i.fa.fa-check-square-o(aria-hidden='true')
                              a(href="#", data-toggle="modal", data-target="#task-details-modal")
                                i.fa.fa-list-alt(aria-hidden='true')
                              span 1
                              | RONE-0757 (Remote Document Delivery)
                              span FFD-C2029 - Development
                              .progress
                                  .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                                  span.sr-only 60% Complete
                          li.list-group-item
                              a(href="#")
                                i.fa.fa-check-square-o(aria-hidden='true')
                              a(href="#", data-toggle="modal", data-target="#task-details-modal")
                                i.fa.fa-list-alt(aria-hidden='true')
                              span 1
                              | RONE-0757 (Remote Document Delivery)
                              span FFD-C2029 - Testing
                              .progress
                                  .progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                                  span.sr-only 60% Complete
                      a.view-more(href="#", title="View More Tasks")
                          i.fa.fa-angle-double-down(aria-hidden='true')
          li#did-you-know.skinned
              .panel.panel-default
                  .panel-heading
                      h2.panel-title Did you know?
                  .panel-body
                      figure
                          img.img-responsive(src="../images/calendar.png", alt="Saturday, Match 20, 2016")
                      p.lead Why does the timesheet week start on a Saturday?
                      p That is to match payroll which is based on Saturday to Friday periods.
          li#my-team
              .panel.panel-default
                  .panel-heading
                      h2.panel-title My Team
                  .panel-body
                      .row
                          .team-member
                              figure
                                  img.img-circle.draggable(id="1", src="../images/team-member-abdi.png", alt="Abdikadir Kedie")
                              .info
                                  span Abdikadir Kedie
                                  span Technical Architect
                          .team-member
                              figure
                                  img.img-circle.draggable(id="2", src="../images/team-member-cindy.png", alt="Cindy Lopes")
                              .info
                                  span Cindy Lopes
                                  span Technical Developer
                          .team-member
                              figure
                                  img.img-circle.draggable(id="3", src="../images/team-member-dan.png", alt="Dan Sarbu")
                              .info
                                  span Dan Sarbu
                                  span Director - Software
                          .team-member
                              figure
                                  img.img-circle.draggable(id="4", src="../images/team-member-emmanuel.png", alt="Emmanuel Ballerini")
                              .info
                                  span Emmanuel Ballerini
                                  span Senior Technical Developer
                          .team-member
                              figure
                                  img.img-circle.draggable(id="5", src="../images/team-member-jacob.png", alt="Jacob Tseng")
                              .info
                                  span Jacob Tseng
                                  span Technical Architect
                          .team-member
                              figure
                                  img.img-circle.draggable(id="6", src="../images/team-member-robbie.png", alt="Robbie Bisnath")
                              .info
                                  span Robbie Bisnath
                                  span Business Analyst
                          .team-member
                              figure
                                  img.img-circle.draggable(id="7", src="../images/team-member-saba.png", alt="Saba Saba")
                              .info
                                  span Saba Saba
                                  span Technical Developer
                          .team-member
                              figure
                                  img.img-circle.draggable(id="8", src="../images/team-member-tim.png", alt="Tim Wilson")
                              .info
                                  span Tim Wilson
                                  span Senior Business Analyst
          li#team-member.skinned.employee-of-the-month
              .panel.panel-default
                  .panel-heading
                      h2.panel-title Team Member of the Day
                  .panel-body
                      figure.full
                          img.img-responsive(src="../images/employee.png", alt="Abdul Basit | Employee of the Month")
                      p.lead Abdul Basit
                      p Technical Architect
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis posuere urna. Integer quam augue, porta ut efficitur id, aliquet faucibus eros. Proin quis odio non arcu iaculis vulputate non sed justo. Duis pellentesque leo vel turpis fringilla, ut volutpat nibh placerat. Aenean egestas blandit nibh, tristique tempor lorem vehicula ac.
          li#my-projects
              .panel.panel-default
                  .panel-heading
                      h2.panel-title My Projects
                  .panel-body
                      h3 My Projects Allocation Hours
                      .projects-map
      include feed.jade
  footer Lychee 2.0.0a
