main(role='main')
	ol.breadcrumb
		li
			a(href='#') Project List
		li
			a(href='#') RouteOne
		li.active Credit Aggregation Platforms
	h1.page-title
		i.fa.fa-briefcase(aria-hidden='true')
		| RONE-0757 (Remoted Document Delivery)
		a.btn-edit(href="#")
			i.fa.fa-pencil
	table.table.table-condensed.tbl-project.pull-right
		colgroup
			col
			col
			col
			col
			col
			col
		tbody
			tr
				td.title Closing Date:
				td 2015-12-15
				td 
				td 
				td.title Project Type:
				td Standard
			tr
				td.title Start Date:
				td 2016-01-01
				td 
				td 
				td.title Stage:
				td Closed Won (100%)
			tr
				td.title End Date:
				td 2016-05-20
				td 
				td 
				td.title Status:
				td Active
	.page-row
		section#project
		include feed.jade
	footer Lychee 2.0.0a
