main(role='main')
  ol.breadcrumb
    li
      a(href='/team-list.html') Team
    li.active Dallas Richardson
  h1.page-title
      i.fa.fa-users(aria-hidden='true')
      | Dallas Richardson
  .page-row
      aside#member-profile
        .member-card
          h2 Profile
          figure
            img(src="images/team-member-dallas-richardson.png", alt="Dallas Richardson")        
          .description
            p
              span Title:
              | Technical Architect
            p
              span Role:
              | Employee
            p
              span Phone:
              | x131
            a(href="mailto:test@test.com") first.last@company.com
        .stats
          h2 Team Member Stats 
          ul.list-group
            li.list-group-item
              span.badge
                  span.value 92
                  | %
              | Billable (avg 75%)
      section#member-assignments
        .bg
          h2 Project Assignments
          form.form-inline
            .form-group
              label Assignments Table 
              .checkbox.pull-right
                label
                  input(type="checkbox")
                  | Hide Past Assignments
          table.table.table-condensed.table-bordered.table-striped
            tr
              th Project
              th
                | Roles
                br
              th
                | Start Date
                br
              th
                | End Date
                br
              th Allocation
              th
                | Invoice Item
                br
            tr
              td
                | EHVA-0780 (Enterprise Integration Discovery)
                br
              td
                | Team Member, Team Lead
                br
              td 2016-07-25
              td 2016-12-31
              td 0.1
              td
            tr
              td
                | JONA-0242 (Administration)
                br
              td
                | Team Member
                br
              td
                br
              td
              td 0.1
              td
            tr
              td
                | JONA-0244 (Operations Management)
                br
              td
                | Team Member 
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0247 (Systems Administration)
                br
              td
                | Team Member 
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0248 (HR Administration)
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0249 (Communications and Events)
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0250 (Non-working Accruals)
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0251 (Coaching)
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0252 (Training)
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0254 (Standards)
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0255 (Marketing)
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0288 (Research) 
                br
              td
                | Team Member
                br
              td
              td
              td 0.1
              td
            tr
              td
                | JONA-0644 (HTML5 PoCs)
                br
              td
                | Team Member
                br
              td
              td
              td
                | 5.0
                br
              td
            tr
              td
                | RONE-0742 (CAMS 2016)
                br
              td
                | Team Member, Team Lead
                br
              td 2016-07-25
              td 2016-12-31
              td
                | 99.0
                br
              td
                | US Tech Dev - Senior
                br
            tr
              td
                | RONE-00743 (CAMS 2016 Travel)
                br
              td
                | Team Member, Team Lead
                br
              td 2016-07-25
              td 2016-12-31
              td 99.0
              td
                | US Tech Dev - Senior
                br
            tr
              td
                | RONE-0757 (Remote Document Delivery)
                br
              td
                | Team Member, Team Lead
                br
              td 2016-07-25
              td 2016-12-31
              td 1.0
              td
                | US Tech Dev - Senior
                br
          h3 Recent Assignments Charts (hrs)
          .projects-map
      include feed.jade
  footer Lychee 2.0.0a
