main(role="main")
	h1.page-title
		i.fa.fa-clock-o
		| Time Entry
	.alert-timesheet(role='alert') The timesheet is open
	.page-row
		aside#task-directory
			.bg
				.button
					button.btn.btn-default.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| All Tasks 
						span.caret
					ul.dropdown-menu
						li
							a(href='#') Action
						li
							a(href='#') Another action
						li
							a(href='#') Something else here
						li.divider(role='separator')
						li
							a(href='#') Separated link
				.input
					input.form-control(id="input-collaborator", type='text', placeholder='Search for Tasks...')
					span
						i.fa.fa-search
				#fancytree
					ul#treeData(style='display: none;')
						li#id1.folder.expanded(title='RouteOne')
							| RouteOne
							ul
								li(id='id1.1').folder.expanded(title='Credit Aggregation Platform')
									| Credit Aggregation Platform
									ul
										li(id='id1.1.1').folder.expanded(title='RONE-0757 (Remote Document Delivery)')
											| RONE-0757 (Remote Document Delivery)
											ul
												li(id='id1.1.1.1')
													| FFD-C2029 - Analysis
												li(id='id1.1.1.1')
													| FFD-C2029 - Testing
												li(id='id1.1.1.1')
													| FFD-C2029 - Development
												li(id='id1.1.1.1')
													| FFD-C2029 - UI Design
										li(id='id1.1.2').folder.expanded(title='Release 16.9')
											| Release 16.9
											ul
												li(id='id1.1.1.1')
													| CORE-7696 Remove Authy
												li(id='id1.1.1.1')
													| CORE-8758 Black list document to not delivery
												li(id='id1.1.1.1')
													| CORE-8758 Privacy Policy implementation
												li(id='id1.1.1.1')
													| CORE-8758 Capturing billing information
								li(id='id1.2').folder(title='RONE-0743 (CAMS 2016 Travel)')
									| RONE-0743 (CAMS 2016 Travel)
								li(id='id1.3').folder(title='RONE-0749 (R1 Mobile App 2016)')
									| RONE-0749 (R1 Mobile App 2016)
								li(id='id1.4').folder(title='RONE-0742 (CAMS 2016)')
									| RONE-0749 (CAMS 2016)
		section#task-list
			form
				.head
					.buttons(role='group')						
						button.btn-datepicker(href="#") August 13, 2016
						button(type='button')
							i.fa.fa-chevron-left
						button(type='button')
							i.fa.fa-chevron-right
					.buttons.buttons-tab(role='group')
						button(type='button', id='tabone') Day
						button.active(type='button', id='tabtwo') Week
						button(type='button', id='tabthree') Business Week
					.headers(id='headers-one')
						table(width="100%")
							colgroup
								col(width="3%")
								col(width="67%")									
								col(width="10%")
								col(width="20%")
							thead
								tr
									th &nbsp;
									th Task
									th &nbsp;
									th Time
					.headers(id='headers-two')
						table(width="100%")
							colgroup
								col(width="3%")
								col(width="33%")
								col(width="8%")
								col(width="8%")
								col(width="8%")
								col(width="8%")
								col(width="8%")
								col(width="8%")
								col(width="8%")
								col(width="8%")
							thead
								tr
									th &nbsp;
									th Task
									th Sat<br>Aug 13
									th Sun<br>Aug 14
									th Mon<br>Aug 15
									th Tue<br>Aug 16
									th Wed<br>Aug 17
									th Thu<br>Aug 18
									th Fri<br>Aug 19
									th Total					
					.headers(id="headers-three")
						p Remove
				.body
					ul.view(id='view-one')
						li.sticky
							table
								colgroup
									col(width="3%")
									col(width="67%")									
									col(width="10%")
									col(width="20%")
								tbody
									tr
										td(colspan="1")
											a.btn-tasks(href="#", title="Tasks")
												i.fa.fa-cubes
										td(colspan="1")
											span FFD-C2029 - UI Design
											a.btn-edit(href="#", title="Edit")
												i.fa.fa-pencil
											small RONE-0757 (Remote Document Delivery)	
										td(colspan="1").icon-group
										td(colspan="7").icon-group
											a.btn-details(href="#", title="Details")
												i.fa.fa-list-alt
											a.btn-complete(href="#", title="Complete")
												i.fa.fa-check-square-o
											a.btn-archive(href="#", title="Archive Tree")
												i.fa.fa-sitemap
											a.btn-estimate(href="#", title="Estimate")
												i.fa.fa-history
											a.btn-delete(href="#", title="Delete")
												i.fa.fa-trash
									tr
										td
											a.btn-pin(href="#", title="Pin")
												i.fa.fa-thumb-tack
										td						
											input(id="input-comments", type="text", placeholder="Add Comments here...")											
										td
											a.btn-timer Start Timer
										td											
											input(class-="input-timer", type="text", placeholder="2:05")
						li
							table
								colgroup
									col(width="3%")
									col(width="67%")									
									col(width="10%")
									col(width="20%")
								tbody
									tr
										td(colspan="1")
											a.btn-tasks(href="#", title="Tasks")
												i.fa.fa-cubes
										td(colspan="1")
											span FFD-C2029 - UI Design
											a.btn-edit(href="#", title="Edit")
												i.fa.fa-pencil
											small RONE-0757 (Remote Document Delivery)	
										td(colspan="1").icon-group
										td(colspan="7").icon-group
											a.btn-details(href="#", title="Details")
												i.fa.fa-list-alt
											a.btn-complete(href="#", title="Complete")
												i.fa.fa-check-square-o
											a.btn-archive(href="#", title="Archive Tree")
												i.fa.fa-sitemap
											a.btn-estimate(href="#", title="Estimate")
												i.fa.fa-history
											a.btn-delete(href="#", title="Delete")
												i.fa.fa-trash
									tr
										td
											a.btn-pin(href="#", title="Pin")
												i.fa.fa-thumb-tack.fa-rotate-90
										td						
											input(id="input-comments", type="text", placeholder="Add Comments here...")											
										td
											a.btn-timer Start Timer
										td											
											input(class-="input-timer", type="text", placeholder="2:05")
						li
							table
								colgroup
									col(width="3%")
									col(width="67%")									
									col(width="10%")
									col(width="20%")
								tbody
									tr
										td(colspan="1")
											a.btn-tasks(href="#", title="Tasks")
												i.fa.fa-cubes
										td(colspan="1")
											span FFD-C2029 - UI Design
											a.btn-edit(href="#", title="Edit")
												i.fa.fa-pencil
											small RONE-0757 (Remote Document Delivery)	
										td(colspan="1").icon-group
										td(colspan="7").icon-group
											a.btn-details(href="#", title="Details")
												i.fa.fa-list-alt
											a.btn-complete(href="#", title="Complete")
												i.fa.fa-check-square-o
											a.btn-archive(href="#", title="Archive Tree")
												i.fa.fa-sitemap
											a.btn-estimate(href="#", title="Estimate")
												i.fa.fa-history
											a.btn-delete(href="#", title="Delete")
												i.fa.fa-trash
									tr
										td
											a.btn-pin(href="#", title="Pin")
												i.fa.fa-thumb-tack.fa-rotate-90
										td						
											input(id="input-comments", type="text", placeholder="Add Comments here...")											
										td
											a.btn-timer Start Timer
										td											
											input(class-="input-timer", type="text", placeholder="2:05")
					ul.view(id='view-two')
						li.sticky
							table
								colgroup
									col(width="3%")
									col(width="33%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
								tbody
									tr
										td(colspan="1")
											a.btn-tasks(href="#", title="Tasks")
												i.fa.fa-cubes
										td(colspan="1")
											span FFD-C2029 - UI Design
											a.btn-edit(href="#", title="Edit")
												i.fa.fa-pencil
											small RONE-0757 (Remote Document Delivery)									
										td(colspan="8").icon-group
											a.btn-details(href="#", title="Details")
												i.fa.fa-list-alt
											a.btn-complete(href="#", title="Complete")
												i.fa.fa-check-square-o
											a.btn-archive(href="#", title="Archive Tree")
												i.fa.fa-sitemap
											a.btn-estimate(href="#", title="Estimate")
												i.fa.fa-history
											a.btn-delete(href="#", title="Delete")
												i.fa.fa-trash
									tr
										td
											a.btn-pin(href="#", title="Pin")
												i.fa.fa-thumb-tack
										td										
											input(id-="input-comments", type="text", placeholder="Add Comments here...")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											span 0:00
						li
							table
								colgroup
									col(width="3%")
									col(width="33%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
								tbody
									tr
										td(colspan="1")
											a.btn-tasks(href="#", title="Tasks")
												i.fa.fa-cubes
										td(colspan="1")
											span FFD-C2029 - UI Design
											a.btn-edit(href="#", title="Edit")
												i.fa.fa-pencil
											small RONE-0757 (Remote Document Delivery)									
										td(colspan="8").icon-group
											a.btn-details(href="#", title="Details")
												i.fa.fa-list-alt
											a.btn-complete(href="#", title="Complete")
												i.fa.fa-check-square-o
											a.btn-archive(href="#", title="Archive Tree")
												i.fa.fa-sitemap
											a.btn-estimate(href="#", title="Estimate")
												i.fa.fa-history
											a.btn-delete(href="#", title="Delete")
												i.fa.fa-trash
									tr
										td
											a.btn-pin(href="#", title="Pin")
												i.fa.fa-thumb-tack.fa-rotate-90
										td										
											input(id-="input-comments", type="text", placeholder="Add Comments here...")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											span 0:00
						li
							table
								colgroup
									col(width="3%")
									col(width="33%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
									col(width="8%")
								tbody
									tr
										td(colspan="1")
											a.btn-tasks(href="#", title="Tasks")
												i.fa.fa-cubes
										td(colspan="1")
											span FFD-C2029 - UI Design
											a.btn-edit(href="#", title="Edit")
												i.fa.fa-pencil
											small RONE-0757 (Remote Document Delivery)									
										td(colspan="8").icon-group
											a.btn-details(href="#", title="Details")
												i.fa.fa-list-alt
											a.btn-complete(href="#", title="Complete")
												i.fa.fa-check-square-o
											a.btn-archive(href="#", title="Archive Tree")
												i.fa.fa-sitemap
											a.btn-estimate(href="#", title="Estimate")
												i.fa.fa-history
											a.btn-delete(href="#", title="Delete")
												i.fa.fa-trash
									tr
										td
											a.btn-pin(href="#", title="Pin")
												i.fa.fa-thumb-tack.fa-rotate-90
										td										
											input(id-="input-comments", type="text", placeholder="Add Comments here...")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											input(class-="input-timer", type="text", placeholder="0:00")
										td
											span 0:00
					ul.view(id='view-three')
						li Dummy Content.						
				.foot
					a.btn-add-task(href="#", title="Add New Task") Add New Task
					a.btn-task-list(href="#", title="Show Task List") Show Task List
					.buttons
						a.btn-save(href="#", title="Save") Save
						button.btn-submit(type="submit", role="button") Submit
		include feed.jade
	footer Lychee 2.0.0a
