doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel="apple-touch-icon", sizes="57x57", href="images/icons/apple-touch-icon-57x57.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="60x60", href="images/icons/apple-touch-icon-60x60.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="72x72", href="images/icons/apple-touch-icon-72x72.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="76x76", href="images/icons/apple-touch-icon-76x76.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="114x114", href="images/icons/apple-touch-icon-114x114.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="120x120", href="images/icons/apple-touch-icon-120x120.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="144x144", href="images/icons/apple-touch-icon-144x144.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="152x152", href="images/icons/apple-touch-icon-152x152.png?v=kPRybMdXj4")
		link(rel="apple-touch-icon", sizes="180x180", href="images/icons/apple-touch-icon-180x180.png?v=kPRybMdXj4")
		link(rel="icon", type="image/png", href="images/icons/favicon-32x32.png?v=kPRybMdXj4" sizes="32x32")
		link(rel="icon", type="image/png", href="images/icons/android-chrome-192x192.png?v=kPRybMdXj4" sizes="192x192")
		link(rel="icon", type="image/png", href="images/icons/favicon-96x96.png?v=kPRybMdXj4" sizes="96x96")
		link(rel="icon", type="image/png", href="images/icons/favicon-16x16.png?v=kPRybMdXj4" sizes="16x16")
		link(rel="manifest", href="images/icons/manifest.json?v=kPRybMdXj4")
		link(rel="mask-icon", href="images/icons/safari-pinned-tab.svg?v=kPRybMdXj4", color="#43BCCD")
		link(rel="shortcut icon", href="images/icons/favicon.ico?v=kPRybMdXj4")
		meta(name="apple-mobile-web-app-title", content="Site Title")
		meta(name="application-name", content="Site Title")
		meta(name="msapplication-TileColor", content="#43BCCD")
		meta(name="msapplication-TileImage", content="images/icons/mstile-144x144.png?v=kPRybMdXj4")
		meta(name="theme-color", content="#ffffff")
		link(rel="stylesheet", href="fonts/fonts.css", media="screen")
		link(rel="stylesheet", href="css/style.css", media="screen")
		link(rel="stylesheet", href="css/vendor.css", media="screen")
		script(src="js/modernizr.min.js")
		<!--[if lt IE 9]>
		script(src="js/html5shiv.min.js")
		script(src="js/respond.min.js")        
		<![endif]-->
		block title
			title Default
	body
		#loading
			.loading.loading-2.wave.wave-2
				.loading-2-text
			h1 Loading...
		#wrapper
			include navigation.jade
			include sidenav.jade
			block content
			include footer.jade
	script(src="js/script.js")
