aside.feed
		h2 Today
		ul.list-group
				li.list-group-item
						span.badge 2hrs ago
						| You were assigned to a To-Do:
						span.description Do Something... by Dan Sabru
				li.list-group-item
						span.badge 4hrs ago
						| Task was marked 'Completed'
						span.description RONE--757 (Remote Document Delivery)<br>FFD-C2029 - UI Design
		h2 Yesterday
		ul.list-group
				li.list-group-item
						| You were assigned to a Task:
						span.description Do Something...
				li.list-group-item
						| Task was marked 'Completed'
						span.description RONE--757 (Remote Document Delivery)<br>FFD-C2029 - UI Design
				li.list-group-item
						| Task was marked 'Completed'
						span.description RONE--757 (Remote Document Delivery)<br>FFD-C2029 - UI Design
