.modal.fade(id='todo-modal', tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title FFD-C2029 - UI Design
			.modal-body
				nav Do Something...
				section            
					p.created-by #[strong Created By:] Prasanna Kugananthan on Thursday, September 1, 2016 at 4:15 PM
					.container
						.row              
							.col-sm-6.left-col
								label(for="input-collaborator") Collaborators:
								.input
									input.form-control(id="input-collaborator", type='text', placeholder='Add a Collaborator')
									span
										i.fa.fa-search(aria-hidden='true')
								ul
									li
										img.img-circle(src="images/team-member-abdi.png", alt="Abdikadir Kedie")
										section
											span Abdikadir Kedie
											span Technical Architect
									li
										img.img-circle(src="images/team-member-cindy.png", alt="Cindy Lopes")
										section
											span Cindy Lopes
											span Technical Developer
							.col-sm-6.right-col
								.bg-white
									label(for="input-tasks") Task
									.input
										input.form-control(id="input-tasks", type='text', placeholder='Add a Task')
										span
											i.fa.fa-search(aria-hidden='true')
								.form-group.row                
									.col-sm-12
										label.control-label(for='input-comment') Enter a comment
										textarea.form-control#input-comment(placeholder='Write a comment...', rows='3')
			.modal-footer
				.pull-left
					button.btn.btn-primary(type='button')
						i.fa.fa-check-square-o(aria-hidden='true')              
						| Mark as Complete              
					button.btn.btn-default(type='button', data-dismiss='modal') Defer
				.pull-right
					form.form-inline
						.form-group
							label(for="input-hours") Hrs.
							.log-group
								.log-addon
									input.form-control#input-hours(type="text", placeholder="0.0")
								button.btn.btn-primary(type='button') Log Time
						button.btn.btn-default(type='button', data-dismiss='modal') Close
.modal.fade(id='task-details-modal', tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title FFD-C2029 - UI Design
			.modal-body
				nav
					span Project:
					| RONE-0757 (Remote Document Delivery)
					a.modal-details.pull-right(href="#") Details
						i.fa.fa-caret-down(aria-hidden='true')
					.nav-info
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, officiis id magni iure, architecto ipsum fugiat magnam reprehenderit, mollitia totam alias aut a, nisi quasi velit. Dolore ea qui fugiat.                    
				.container
					.row
						.col-sm-6
							img(src="http://placehold.it/1000x1000", alt="Graph")
						.col-sm-6
							ul
								li
									.title Estimated
									input.input-taskdetails(type="text", placeholder="750 hrs")
								li
									.title Spent
										span (33% of Estimate)
									input.input-taskdetails(type="text", placeholder="250 hrs")
								li
									.title Remaining 
										span (66% of Estimate)
									input.input-taskdetails(type="text", placeholder="500 hrs")
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='button') Log Time
.modal.fade(id='assignment-modal', tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Assignment
			.modal-body
				form.form-horizontal
					.form-group
						label.col-sm-4 Project:
						label.col-sm-8 RONE-0757 (Remote Document Delivery)
					.form-group
						label.col-sm-4 User:
						label.col-sm-8 Prasanna Kugananthan
					fieldset
						.form-group
							label.col-sm-4.control-label(form="input-startdate") Start Date:
							.col-sm-8
								.input-icon
									input.form-control(id="input-startdate", type="text", placeholder="2016-07-08")
									span
										a.btn-startdate(href="#")
											i.fa.fa-calendar
						.form-group
							label.col-sm-4.control-label(for="input-enddate") End Date:
							.col-sm-8
								.input-icon
									input.form-control(id="input-enddate", type="text", placeholder="2017-04-27")
									span
										a.btn-enddate(href="#")
											i.fa.fa-calendar
						.form-group
							label.col-sm-4.control-label(for="input-rate") Rate ($/hr)
							.col-sm-8
								input.form-control(id="input-rate", type="text", placeholder="75.00")
						.form-group
							label.col-sm-4.control-label(for="input-allocation") Allocation (%)
							.col-sm-8
								input.form-control(id="input-allocationper", type="text", placeholder="100.0")
						.form-group.contributions
							label.col-sm-4(for="input-check") Contributions to Accural
							.col-sm-8
								input(id="input-check", type='checkbox')
					fieldset
						legend.lbl-heading Project Roles
						.form-group
							.checkbox
								label(for="input-projectdirector")
									input(id="input-projectdirector", type='checkbox')
									| Project Director
							.checkbox
								label(for="input-projectmanager")
									input(id="input-projectmanager", type='checkbox')
									| Project Manager
							.checkbox
								label(for="input-teamlead")
									input(id="input-teamlead", type='checkbox')
									| Team Lead
							.checkbox
								label(for="input-approver")
									input(id="input-approver", type='checkbox')
									| Approver
							.checkbox
								label(for="input-teammember")
									input(id="input-teammember", type='checkbox')
									| Team Member
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Cancel
				button.btn.btn-tertiary(type='button') Ok
.modal.fade(id='edit-project-modal', tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Edit Project
			.modal-body
				form.form-horizontal
					.form-group
						label.control-label.col-sm-4(for="select-program-name") Program
						.col-sm-8
							select.selectpicker(id="select-program-name")
								option Some Program Name
								option Web Design
								option Web Development
					.form-group
						label.control-label.col-sm-4(for="select-familiar-name") Familiar Name
						.col-sm-8
							select.selectpicker(id="select-familiar-name")
								option ProgramName
								option WebDesign
								option WebDevelopment
					.form-group
						label.control-label.col-sm-4(for="select-status") This project is currently
						.col-sm-8
							select.selectpicker(id="select-status")
								option Active
								option Inactive
								option Full
					.form-group
						label.control-label.col-sm-4(for="select-associates") Associate JIRA project
						.col-sm-8
							select.selectpicker(id="select-associates")
								option Search JIRA Projects
								option Search Lychee Projects
								option Search Baustein Projects
					fieldset
						legend.lbl-heading Project Type
						.radio
							label
								input(type='radio', name='project', value="100", checked="checked")
								| A Standard Project
						.project100.project-standard
							.form-group
								label.control-label.col-sm-4(for="select-stage") Stage
								.col-sm-8.span-half
									select.selectpicker(id="select-stage")
										option Closed Won (100%)
										option Closed Won (90%)
										option Closed Won (80%)
									.log-group
										.log-btns-addon
											button.btn.btn-default.btn-secondary Won
											button.btn.btn-default.btn-secondary Lost
							.form-group
								label.control-label.col-sm-4(for="input-startingdate") Closing Date
								.col-sm-8
									.input-icon
										input.form-control(id="input-startingdate", type="text", placeholder="2016-07-08")
										span
											a.btn-startingdate(href="#")
												i.fa.fa-calendar
							.form-group
								label.control-label.col-sm-4(for="input-closingdate") Starting Date
								.col-sm-8
									.input-icon
										input.form-control(id="input-closingdate", type="text", placeholder="2016-07-08")
										span
											a.btn-closingdate(href="#")
												i.fa.fa-calendar
							.form-group
								label.control-label.col-sm-4(for="input-endingdate") Ending Date
								.col-sm-8
									.input-icon
										input.form-control(id="input-endingdate", type="text", placeholder="2016-07-08")
										span
											a.btn-endingdate(href="#")
												i.fa.fa-calendar
						.radio
							label
								input(type='radio', name='project', value="101")
								| An Ongoing Project
					fieldset
						legend.lbl-heading Contract Details				
						.form-group
							label.control-label.col-sm-4(for="select-invoicingtype") Invoicing Type
							.col-sm-8
								select.selectpicker(id="select-invoicingtype")
									option Fixed Price
									option Flexible Price
									option Sales
						.form-group
							label.control-label.col-sm-4(for="select-paymentterms") Payment Terms
							.col-sm-8
								select.selectpicker(id="select-paymentterms")
									option Net 30 Days
									option Net 60 Days
									option Net 90 Days
						.form-group
							label.control-label.col-sm-4(for="input-ponumber") PO Number
							.col-sm-8
								input.form-control(id="input-ponumber", type="text", placeholder="23135465134534")
						.form-group
							label.control-label.col-sm-4(for="input-budget") Budget $
							.col-sm-8
								input.form-control(id="input-budget", type="text", placeholder="1000.00")
						.form-group
							label.control-label.col-sm-4(for="input-svn") SVN
							.col-sm-8
								input.form-control(id="input-svn", type="text")
						.form-group
							label.control-label.col-sm-4(for="input-invoicingnotes") Invoicing Notes
							.col-sm-8
								textarea.form-control(id="input-invoicingnotes", type="textarea", rows="5")
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Cancel
				button.btn.btn-tertiary(type='button') Ok
.modal.fade(id='dyk-modal', tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Did you know?
			.modal-body
				.container
					.row
						.col-sm-12
							#dykm-carousel.carousel.slide
								.carousel-inner
									.item.active
										.row
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
									.item
										.row
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
									.item
										.row
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
											.col-sm-3
												a(href='#x')
													img.img-responsive(src='http://placehold.it/120x50', alt='Image')
													p Why does the timesheet week start on a Saturday?
								a.left.carousel-control(href='#dykm-carousel', data-slide='prev')
									i.fa.fa-chevron-left(aria-hidden="true")
								a.right.carousel-control(href='#dykm-carousel', data-slide='next')
									i.fa.fa-chevron-right(aria-hidden="true")
					.row.bg-white
						.col-sm-6
							.img-holder
								img(src="images/calendar.png", alt="Calendar")
								footer.clearfix
									a(href="#", title="Browser for Image") Browse for Image
									span Drag + Drop
						.col-sm-6
							.form-group
								label(for="input-question") Annoucement / questions
								input#input-question.form-control(type="text", placeholder="Why does the timesheet week start on Sunday?")
								label(for="input-answer") Details / Answer
								textarea#input-answer.form-control(type="text", placeholder="That is to match payroll which is based on Saturday to Friday periods.", rows="5")
			.modal-footer
				.pull-left
					button.btn.btn-tertiary(type='button', data-dismiss='modal')
						i.fa.fa-plus
						| Add New
				.pull-right
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button.btn.btn-primary(type='button') Save
