.modal.fade(id='todo-modal', tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title FFD-C2029 - UI Design
			.modal-body
				nav Do Something...
				section            
					p #[strong Created By:] Prasanna Kugananthan on Thursday, September 1, 2016 at 4:15 PM
					.container
						.row              
							.col-sm-6
								p
									strong Collaborators:
								.input
									input.form-control(id="input-collaborator", type='text', placeholder='Add a Collaborator')
									span
										i.fa.fa-search(aria-hidden='true')
								ul
									li.team-member
											figure
													img.img-circle(src="../images/team-member-abdi.png", alt="Abdikadir Kedie")
											.info
													span Abdikadir Kedie
													span Technical Architect
									li.team-member
											figure
													img.img-circle(src="../images/team-member-cindy.png", alt="Cindy Lopes")
											.info
													span Cindy Lopes
													span Technical Developer
							.col-sm-6
								.bg-color
									p
										strong Task
									.input
										input.form-control(id="input-tasks", type='text', placeholder='Add a Task')
										span
											i.fa.fa-search(aria-hidden='true')
								form.form-horizontal
									.form-group                  
										.column
											label.control-label(for='input-comment') Enter a comment
											textarea.form-control#input-comment(placeholder='Write a comment...', rows='3')
			.modal-footer
				.left.pull-left
					button.btn.btn-primary(type='button')
						i.fa.fa-check-square-o(aria-hidden='true')              
						| Mark as Complete              
					button.btn.btn-default(type='button', data-dismiss='modal') Defer
				.right.pull-right
					form.form-inline
						.form-group
							label(for="input-hours") Hrs.
							.log-group
								.log-addon
									input.form-control(type="text", placeholder="0.0")
								button.btn.btn-primary(type='button') Log Time
						button.btn.btn-default(type='button', data-dismiss='modal') Close
.modal.fade(id='task-details-modal', tabindex='-1', role='dialog')
	.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title FFD-C2029 - UI Design
				.modal-body
					nav
						p #[span Project:] RONE-0757 (Remote Document Delivery)
						a.modal-details.pull-right(href="#") Details
							i.fa.fa-caret-down(aria-hidden='true')
						.modal-info
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, officiis id magni iure, architecto ipsum fugiat magnam reprehenderit, mollitia totam alias aut a, nisi quasi velit. Dolore ea qui fugiat.                    
					.container
						.row
							.col-sm-6
								img(src="http://placehold.it/1000x1000", alt="Graph")
							.col-sm-6
								ul
									li
										.title Estimated                    
										.description 750 hrs
									li
										.title Spent
											span (33% of Estimate)                    
										.description 250 hrs
									li
										.title Remaining 
											span (66% of Estimate)                    
										.description 500 hrs
				.modal-footer
					.right
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Log Time
