nav#topnav.navbar.navbar-fixed-top(role="navigation")
	.navbar-inner
		.navbar-header
			a.navbar-brand(href="dashboard.html", title="Welcome to Lychee by Jonah Group")
				.navbar-logo
			//- button.collapse.navbar-collapsed(type="button", data-toggle="collapse", data-target="#topnav-collapse")
			//- 	i.fa.fa-bars(aria-hidden='true')
		#topnav-collapse.collapse.navbar-collapse
			.input-group
				span.input-group-addon
					i.fa.fa-search(aria-hidden='true')
				input.input-search.form-control.typeahead(type='text', placeholder='Search...', aria-describedby='search')
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						img(src="../images/icon-notify.png", alt="Notify")
						span.badge.badge-notify 2
					.dropdown-menu.dd-notification
						header
							h2 You have 6 notifications
						section
							ul.list-group
								li.list-group-item
									i.fa.fa-circle.fa-red(aria-hidden='true')
									span.badge 5 min
									| Time sheet is due
									span.description Please Enter your Time for this week
								li.list-group-item
									i.fa.fa-circle.fa-yellow(aria-hidden='true')
									span.badge 10 min
									| Your Task has been changed
									span.description Task RONE-0754 has been renamed...
								li.list-group-item
									i.fa.fa-circle.fa-blue(aria-hidden='true')
									span.badge 20 min
									| Update your timesheet
									span.description Please Enter your Time for this week
								li.list-group-item
									i.fa.fa-circle.fa-red(aria-hidden='true')
									span.badge 5 min
									| Time sheet is due
									span.description Please Enter your Time for this week
								li.list-group-item
									i.fa.fa-circle.fa-yellow(aria-hidden='true')
									span.badge 10 min
									| Your Task has been changed
									span.description Task RONE-0754 has been renamed...
								li.list-group-item
									i.fa.fa-circle.fa-blue(aria-hidden='true')
									span.badge 20 min
									| Update your timesheet
									span.description Please Enter your Time for this week
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						i.fa.fa-clock-o(aria-hidden='true')
					.dropdown-menu.dd-time-entry
						table
							colgroup
								col
								col
								col
							thead
								tr
									th Project/Task
									th Time Today
										span (hh:mm:ss:)
									th Timer Actions
							tbody
								tr.tr-blue
									td
										i.fa.fa-thumb-tack.fa-blue.fa-rotate-90(aria-hidden='true')
										small RONE-0757 (Remote Document Delivery)
										| FFD-C2029 - UI Design
									td
										.input-group
											span.input-group-btn
												button.btn.btn-tertiary
													i.fa.fa-play.fa-white(aria-hidden='true')
											input.form-control(type='text', placeholder='00:55:00', maxlength="8")
									td
										a(href="#")
											i.fa.fa-share.fa-red(aria-hidden='true')
										a(href="#")
											i.fa.fa-close.fa-red(aria-hidden='true')
								tr.tr-grey
									td
										i.fa.fa-thumb-tack.fa-medium-grey.fa-rotate-90(aria-hidden='true')
										small RONE-0757 (Remote Document Delivery)
										| FFD-C2029 - Development
									td
									td 
								tr
									td
										i.fa.fa-thumb-tack.fa-medium-grey.fa-rotate-90(aria-hidden='true')
										small RONE-0757 (Remote Document Delivery)
										| FFD-C2029 - Testing
									td
									td
							tfoot
								tr
									td(colspan="3")
										.input
											input.form-control(id="input-time-entry", type='text', placeholder='Add a Task')
											span
												i.fa.fa-search(aria-hidden='true')
											a.btn-sitemap
												i.fa.fa-sitemap(aria-hidden='true')
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						i.fa.fa-keyboard-o(aria-hidden='true')
					.dropdown-menu.dd-keyboard-shortcuts
						section
							table
								colgroup
									col
									col
								thead
									tr
										th(colspan="2") Keyboard Shortcuts
						footer
							table
								colgroup
									col
									col
								tbody
									tr
										td $
										td
											span Time Tracking
											small Set's focus to time entry widget
									tr
										td *
										td
											span Global Search
											small Set's focus to Global Search Bar
									tr
										td #
										td
											span Notification Feed
											small Toggles Notification Feed sidebar
									tr
										td &
										td
											span Demo
											small Demo...
				li
					a(href="#") Log out
				li
					a.feed-toggle(href="#", title="View Live Feed")
						i.fa.fa-align-left(aria-hidden='true')
