aside#sidenav
	ul.visible(role="navigation")
		li.user
			img.img-circle(src="images/team-member-abdi.png", alt="Abdikadir Kedie")
			.user-details
				span Welcome,
				span Abdikidar Kedie
			ul.sub-menu
				li
					span Welcome,
					span Abdikidar Kedie
				li
					span Act as Administrator
					label.switch
						input(type='checkbox', checked='')
						.slider.round
		li.user-authorization
			span Act as Administrator
			label.switch
				input(type='checkbox', checked='')
				.slider.round
		li
			a(href="dashboard.html", title="Dashboard")
				i.fa.fa-dashboard(aria-hidden='true')
				| Dashboard
			ul.sub-menu
				li
					a(href="http://www.google.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Google Website
				li
					a(href="http://www.mashable.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Mashable News
				li
					a(href="http://www.cp24.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check CP24 News
		li
			a(href="time-entry.html", title="Time Entry")
				i.fa.fa-clock-o(aria-hidden='true')
				| Time Entry
			ul.sub-menu
				li
					a(href="http://www.google.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Google Website
				li
					a(href="http://www.mashable.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Mashable News
				li
					a(href="http://www.cp24.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check CP24 News
		li
			a(href="#", title="Customers")
				i.fa.fa-street-view(aria-hidden='true')
				| Customers
			ul.sub-menu
				li
					a(href="http://www.google.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Google Website
				li
					a(href="http://www.mashable.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Mashable News
				li
					a(href="http://www.cp24.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check CP24 News
		li
			a(href="projects.html", title="Projects")
				i.fa.fa-briefcase(aria-hidden='true')
				| Projects
			ul.sub-menu
				li
					a(href="http://www.google.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Google Website
				li
					a(href="http://www.mashable.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Mashable News
				li
					a(href="http://www.cp24.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check CP24 News
		li
			a(href="team-list.html", title="Team")
				i.fa.fa-users(aria-hidden='true')
				| Team
			ul.sub-menu
				li
					a(href="http://www.google.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Google Website
				li
					a(href="http://www.mashable.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Mashable News
				li
					a(href="http://www.cp24.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check CP24 News
		li
			a(href="#", title="Reports")
				i.fa.fa-file-text-o(aria-hidden='true')
				| Reports
			ul.sub-menu
				li
					a(href="http://www.google.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Google Website
				li
					a(href="http://www.mashable.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check Mashable News
				li
					a(href="http://www.cp24.com", title="Time Entry")
						i.fa.fa-angle-right(aria-hidden='true')
						| Check CP24 News
		li.toggle
			a(href="#", title="Show/Hide Menu")
				i.fa.fa-long-arrow-left(aria-hidden='true')
				| Collapse
