aside#sidenav
	ul.visible(role="navigation")
		li.user
			figure
				img.img-circle(src="../images/team-member-abdi.png", alt="Abdikadir Kedie")
			.user-details
				span Welcome,
				span Abdikidar Kedie
		li.user-authorization
			span Act as Administrator
			input#input-authorization(type='checkbox', checked='')
		li
			a(href="dashboard.html", title="Dashboard")
				i.fa.fa-dashboard(aria-hidden='true')
				| Dashboard
		li
			a(href="time-entry.html", title="Time Entry")
				i.fa.fa-clock-o(aria-hidden='true')
				| Time Entry
		li
			a(href="#", title="Customers")
				i.fa.fa-street-view(aria-hidden='true')
				| Customers
		li
			a(href="projects.html", title="Projects")
				i.fa.fa-briefcase(aria-hidden='true')
				| Projects
		li
			a(href="team-list.html", title="Team")
				i.fa.fa-users(aria-hidden='true')
				| Team
		li
			a(href="#", title="Reports")
				i.fa.fa-file-text-o(aria-hidden='true')
				| Reports
		li.toggle
			a(href="#", title="Show/Hide Menu")
				i.fa.fa-long-arrow-left(aria-hidden='true')
				| Collapse
