#sidebar-wrapper
	ul#secondary-nav.visible(role="navigation")
		li.site-user
			figure
				img.img-circle(src="../images/team-member-abdi.png", alt="Abdikadir Kedie")
			.info
				span Welcome,
				span Abdikidar Kedie
		li
			a(href="dashboard.html", title="Dashboard")
				i.fa.fa-dashboard(aria-hidden='true')
				span Dashboard
		li
			a(href="time-entry.html", title="Time Entry")
				i.fa.fa-clock-o(aria-hidden='true')
				span Time Entry
		li
			a(href="#", title="Customers")
				i.fa.fa-street-view(aria-hidden='true')
				span Customers
		li
			a(href="#", title="Projects")
				i.fa.fa-briefcase(aria-hidden='true')
				span Projects
		li
			a(href="team-list.html", title="Team")
				i.fa.fa-users(aria-hidden='true')
				span Team
		li
			a(href="#", title="Reports")
				i.fa.fa-file-text-o(aria-hidden='true')
				span Reports
		li
			a.menu-toggle(href="#", title="Show/Hide Menu")
				i.fa.fa-long-arrow-left(aria-hidden='true')
				span Collapse
