#sidebar-wrapper
	ul#secondary-nav.visible(role="navigation")
		li.site-user
			figure
				img(src="../images/team-member-abdi.png", alt="Abdikadir Kedie")
			.info
				span Welcome,
				span Abdikidar Kedie
		li
			a(href="#", title="Dashboard")
				i.fa.fa-dashboard
				span Dashboard
		li
			a(href="#", title="Time Entry")
				i.fa.fa-clock-o
				span Time Entry
		li
			a(href="#", title="Customers")
				i.fa.fa-street-view
				span Customers
		li
			a(href="#", title="Projects")
				i.fa.fa-briefcase
				span Projects
		li
			a(href="#", title="Team")
				i.fa.fa-users
				span Team
		li
			a(href="#", title="Reports")
				i.fa.fa-file-text-o
				span Reports
		li
			a.menu-toggle(href="#", title="Show/Hide Menu")
				i.fa.fa-long-arrow-left
				span Collapse
