// Media Queries
$tablet: "only screen and (max-width: $screen-sm-max)"; // Up to Tablet size ~ <768px
$tablet__up: "only screen and (min-width: $screen-sm-max)"; // From Table size up to Infinity ~ >768px
$desktop: "only screen and (max-width: $screen-md-max)"; // Up to Desktop size ~ <992px
$desktop__up: "only screen and (min-width: $screen-md-max)"; // From Desktop size up to Infinity ~ >992px

// REM Font Size along with Pixel size
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
} // Source: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

// Font-weights
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Colors
$black: #000000;
$white: #FFFFFF;
$grey: #333333;
$super-grey: #666666;
$super-extra-light-grey: #b7b7b7;
$light-grey: #f3f0f2;
$lighter-grey: #e6e4e7;
$lightest-grey: #e1e1e1;
$medium-light-grey: #eeeeee;
$extra-light-grey: #fafafa;
$super-light-grey: #f1efef;
$super-extra-lightest-grey: #f1f1f1;
$dark-grey: #bbbbbb;
$darker-grey: #b5b5b5;
$darkest-grey: #cccccc;
$extra-darkest-grey: #d9d9d9;
$extra-dark-grey: #c2c2c2;
$super-dark-grey: #cbcbcb;
$extra-super-dark-grey: #dddddd;
$medium-grey-light: #949494;
$medium-grey: #999999;
$medium-grey-dark: #d7d7d7;
$transparent-grey: rgba(61, 61, 61, 0.95);
// RBGSs
$red: #ef4036;
$blue: #0000ff;
$green: #00a99d;
$dark-green: #1da99e;
$light-red: #fde6e5;
$light-blue: #f7f7ff;
$light-green: #bdc9c8;
$lightest-red: #fef4f3;
$lightest-green: #ebf8f7;
// Yellows
$yellow: #dfd477;
$dark-yellow: #8a6d3b;
$light-yellow: #fcf8e4;
// Additionals
$purple: #400099;

// Selection Color in Browser - https://css-tricks.com/almanac/selectors/s/selection/
*::-moz-selection {
    color: $white;
    background-color: $red;
}

*::selection {
    color: $white;
    background-color: $red;
}

// Font Awesome Icon Insertion
@mixin icon-before($content, $color) {
    &::before {
        color: $color;
        margin-right: 5px;
        content: $content;
        font-family: "fontawesome";
    }
}

// Disable Border and Background
@mixin border-and-background() {
    border: none;
    background: none;
}

// Define Margin and Padding
@mixin margin-and-padding($mar, $pad) {
    margin: $mar;
    padding: $pad;
}

// Darken Link Color on hover
@mixin hyperlink-hover($color) {
  &:hover {
    color: darken($color, 25%);
  }
  &:active {
    color: darken($color, 25%);
  }
  &:focus {
    color: darken($color, 25%);
  }
}
