// Media Queries
$tablet: "only screen and (max-width: $screen-sm-max)"; // Up to Tablet size ~ <768px
$tablet__up: "only screen and (min-width: $screen-sm-max)"; // From Table size up to Infinity ~ >768px
$desktop: "only screen and (max-width: $screen-md-max)"; // Up to Desktop size ~ <992px
$desktop__up: "only screen and (min-width: $screen-md-max)"; // From Desktop size up to Infinity ~ >992px

// REM Font Size along with Pixel size
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
} // Source: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

// Font-weights
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Colors
// Grayscales
$grey: #333333;
$black: #000000;
$white: #FFFFFF;
$diamond-grey: #bdbdbd;
$diamond-inverse: #848484;
$light-grey: #f3f0f2;
$lighter-grey: #e6e4e7;
$lightest-grey: #e1e1e1;
$extra-light-grey: #fafafa;
$medium-light-grey: #eeeeee;
$medium-grey-light: #949494;
$dark-grey: #bbbbbb;
$darker-grey: #b5b5b5;
$darkest-grey: #cccccc;
$super-dark-grey: #cbcbcb;
$medium-grey: #999999;
$medium-grey-dark: #d7d7d7;
$super-grey: #666666;
$super-light-grey: #f1efef;
$super-extra-light-grey: #b7b7b7;
$super-extra-lightest-grey: #f1f1f1;
$extra-dark-grey: #c2c2c2;
$extra-darkest-grey: #d9d9d9;
$extra-super-dark-grey: #dddddd;
$extra-super-darkest-grey: #545454;
$transparent-grey: rgba(61, 61, 61, 0.95);
// RBGSs
$red: #ef4036;
$blue: #0000ff;
$green: #00a99d;
$dark-green: #1da99e;
$light-red: #fde6e5;
$light-blue: #f7f7ff;
$light-green: #bdc9c8;
$lightest-red: #fef4f3;
$lightest-green: #ebf8f7;
// Yellows
$yellow: #dfd477;
$dark-yellow: #8a6d3b;
$light-yellow: #fcf8e4;
// Additionals
$purple: #400099;

// Selection Color in Browser
*::-moz-selection {
  color: $white;
  background-color: $red;
}
*::selection {
  color: $white;
  background-color: $red;
} // Source: https://css-tricks.com/almanac/selectors/s/selection/

// Font Awesome Icon Insertion
@mixin icon-before($content, $color) {
  &::before {
    color: $color;
    margin-right: 5px;
    content: $content;
    font-family: "fontawesome";
  }
}

// Disable Border and Background
@mixin border-and-background() {
  border: none;
  background: none;
}

// Define Margin and Padding
@mixin margin-and-padding($mar, $pad) {
  margin: $mar;
  padding: $pad;
}

// Darken Link Color on hover
@mixin hyperlink-hover($color) {
  &:hover {
    color: darken($color, 15%);
  }
  &:active {
    color: darken($color, 15%);
  }
  &:focus {
    color: darken($color, 15%);
  }
}

// Input Placeholder color
@mixin input-placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}
