.container {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

body,
html {
  font-size: 100%;
  overflow-x: hidden;
}

main {
  position: relative;
  margin-top: 80px;
  min-height: 100vh;
  transition: all 0.5s;
  padding-bottom: 80px;
  background: $light-grey no-repeat bottom right url('../images/pattern.png');
  h2 {
    color: $red;
    @include font-size(18px);
    text-transform: uppercase;
  }
}

.page-title {
  color: $grey;
  display: inline-block;
  @include font-size(24px);
  @include margin-and-padding(80px 0 30px !important, 0);
  .fa {
    margin-right: 10px;
  }
}

.page-dashboard {
  h2 {
    color: $red;
    @include font-size(18px);
    text-transform: uppercase;
  }
  li {
    @include panel-standard();
    &.skinned {
      @include panel-skinned();
    }
    &.employee-of-the-month {
      @include panel-employee();
    }
  }
  .row > ul {
    padding-left: 0;
    padding-right: 0;
    @include border-and-background();
    @include margin-and-padding(0, 0);
    > li {
      list-style-type: none;
      &.placeholder {
        margin: 0 15px 15px;
        border: 1px solid darken($light-grey, 5%);
        background-color: darken($light-grey, 2.5%);
        @include make-sm-column(3);
        @include make-md-column(3);
      }
      &.tile {
        height: 350px;
      }
    }
    .panel-heading:hover {
      cursor: move;
    }
  }
}

#my-stats {
  @include widget-mystats();
}

// Time Entry Page Layout.
.alert-timesheet {
  margin-left: 10px;
  padding: 20px 25px;
  display: inline-block;
}

#my-todo {
  .tab {
    border: 1px solid $lightest-grey;
    background-color: $extra-light-grey;
    @include widget-todo();
  }
}

#my-tasks {
  @include widget-mytasks();
}

#my-team {
  @include widget-myteam();
}

#my-projects {
  overflow: hidden !important;
  h3 {
    color: $grey;
    @include font-size(16px);
    @include margin-and-padding(0 0 20px, 0);
  }
}

footer {
  position: absolute;
  z-index: 5;
  right: 10px;
  bottom: 10px;
  color: $medium-grey-light;
  @include font-size(14px);
}

.feed {
  position: fixed;
  z-index: 10;
  top: 80px;
  bottom: 0;
  width: 378px;
  right: -378px;
  padding: 20px;
  overflow-y: scroll;
  transition: all 0.5s;
  background-color: $transparent-grey;
  @include widget-feed();
  h2 {
    color: $medium-grey;
    font-weight: $font-weight-light;
    @include font-size(28px);
    @include margin-and-padding(0, 0);
    &:last-of-type {
      margin-top: 60px;
    }
  }
  &.active {
    right: -17px;
  }
}
