/*

  Modules: Table of Contents
  1. Inline Input
  2. Typeahead Standard
  3. Loader
  4. Fancytree
  5. Widget: My Stats (Dashboard Page)
  6. Widget: My Team (Dashboard Page)
  7. Widget: My Team (Dashboard Page)
  8. Widget: Panel Standard
  9. Widget: Panel Skinned
  10. Widget: Panel (Team Member of the Day)
  11. Widget: To Do (Dashboard Page)
  12. Widget: My Tasks (Dashboard Page)
  13. Feed
  14. Dropdown: Notification Panel
  15. Dropdown: Time Entry Panel
  16. Typeahead for Primary Menu Search Bar
  17. Modal: Standard
  18. Modal: To Do
  19. Modal: Task Details
  20. Tablesaw Styles

*/
@mixin inline-input {
    .input {
        padding: 15px;
        position: relative;
    }

    .input input {
        height: 40px;
        border-radius: 0;
        padding-left: 35px;
    }

    .input span {
        position: absolute;
        display: block;
        top: 25px;
        left: 25px;
        color: $red;
        @include font-size(14px);
    }
}
@mixin typeahead-standard() {
    .twitter-typeahead {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
        width: 100% !important;
    }

    .tt-menu {
        padding: 15px 0;
        width: 100% !important;
        background-color: $white;
        box-shadow: 1px 2px 2px 1px rgba(204,204,204,0.5);
    }

    .tt-suggestion {
        color: $grey;
        line-height: 2;
        padding: 0 35px;
    }

    .tt-suggestion.tt-cursor,
    .tt-suggestion:hover {
        color: $red;
        cursor: pointer;
        background-color: $light-red;
    }
}
@mixin loader() {
    .loading-2 {
        top: 300px;
        width: 161px;
        height: 162px;
        font-size: 0;
        background: rgba(255,255,255,0.06);
        margin: 0 auto;
    }

    .loading-2-text {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url('../images/loading.png');
        width: 161px;
        height: 162px;
        display: inline-block;
    }
    @keyframes wave-animation {
        0% {
            background-position: 0 bottom;
        };

        100% {
            background-position: 200px bottom;
        };
    }
    @keyframes loading-animation {
        0% {
            background-size: 200px 0;
        };

        100% {
            background-size: 200px 200px;
        };
    }

    .wave {
        background-image: url('http://i.imgur.com/uFpLbYt.png');
        background-clip: text;
        color: rgba(0,0,0,0);
        text-shadow: 0 0 rgba(255,255,255,0.06);
        animation: wave-animation 2.5s infinite linear, loading-animation 2.5s infinite linear alternate;
        background-size: 200px 200px;
        background-repeat: repeat-x;
        opacity: 1;
    }

    .wave-2 {
        background-clip: initial;
        display: inline-block;
    }
}
// Source: https://codepen.io/lbebber/pen/xrwja
@mixin fancytree() {
    #fancytree {
        padding: 0 15px 15px;

        * {
            font-weight: 400;
            @include font-size(12px);
            font-family: "Roboto Condensed";
        }

        .fancytree-container {
            border: none;
            padding: 10px;
            outline: none !important;
        }
        // Source: http://stackoverflow.com/questions/26024818/fancytree-remove-blue-border-when-selected.
        .fancytree-hover {
            line-height: 2;
        }

        .fancytree-icon {
            margin-top: 0;
        }

        .fancytree-title:hover {
            background-color: transparent;
        }

        .fancytree-expander {
            border-bottom: 1px dashed $medium-grey;
        }

        .fancytree-has-children .fancytree-expander {
            padding: 3px 0;
            margin: 0 0 0 -5px;
            @include icon-before( '\f0da', $medium-grey);
        }
        // Any element that has children will have a caret before it
        .fancytree-expanded .fancytree-expander {
            margin: 0 0 0 -4px;
            padding: 4px 0;
            @include icon-before( '\f0d7', $medium-grey);
        }
        // Any element that has children will have a caret before it changes on click
        .fancytree-ico-c .fancytree-icon {
            @include icon-before( '\f1b3', $red);
        }
        // Cube Icon
        .fancytree-ico-ef .fancytree-icon {
            @include icon-before( '\f115', $grey);
        }
        // Expanded Folder Icon
        .fancytree-ico-cf .fancytree-icon {
            @include icon-before( '\f07b', $grey);
        }
        // Folder Icon
        .fancytree-node:hover {
            .fancytree-icon::before {
                transition: all 1s;
                color: $green !important;
            }

            .fancytree-title {
                color: inherit;
                border: 1px solid transparent;
                background-color: transparent;
            }

            .fancytree-hover {
                color: $green;
                border-radius: 4px;
                padding: 2px 4px 4px 0;
                background-color: $lightest-green;
            }
        }

        .fancytree-node.fancytree-active {
            .fancytree-icon::before {
                color: $green !important;
            }

            .fancytree-title {
                color: inherit;
                border: 1px solid transparent;
                background-color: transparent;
            }

            .fancytree-hover {
                color: $green;
                border-radius: 4px;
                padding: 2px 4px 4px 0;
                background-color: $lightest-green;
            }
        }

        .fancytree-lastsib ul > li {
            border-left: 1px dashed $medium-grey;

            .fancytree-expander {
                border-bottom: 1px dashed $medium-grey;
            }
        }

        > ul > li > span > a {
            span {
                color: $blue;
                @include font-size(14px);
            }

            span.fancytree-icon::before {
                color: $blue !important;
            }
        }
    }
}
@mixin widget-mystats() {
    h2 {
        padding-top: 3px;
    }

    li {
        color: $grey;
        @include font-size(14px);
        @include border-and-background();
        @include margin-and-padding(0 0 30px, 0);
    }

    .badge {
        float: none;
        display: block;
        text-align: left;
        color: $red;
        font-weight: $font-weight-light;
        @include font-size(33px);
        @include margin-and-padding(0, 0);
        @include border-and-background();
    }

    .value {
        @include font-size(66px);
    }
    @media #{$desktop} {
        ul {
            @include make-row();
        }

        li {
            @include make-sm-column(3);
            @include make-md-column(3);
        }

        .value {
            @include font-size(44px);
        }
    }
}
@mixin widget-myteam() {
    .panel-body {
        padding: 30px 15px 0;
    }

    .team-member {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }

    figure {
        margin-right: 10px;
    }

    .container {
        width: auto;
    }

    .team-row {
        @include make-row();
    }

    img:hover {
        cursor: move;
    }

    span {
        display: block;

        &:first-child {
            @include font-size(14px);
        }

        &:last-child {
            @include font-size(12px);
        }
    }
}
@mixin panel-standard {
    .panel {
        border-radius: 0;
    }

    .panel-heading {
        background: none;
        border-bottom: 1px solid $red;
        @include margin-and-padding(20px 15px 0, 0);

        h2 {
            color: $red;
            display: inline-block;
            padding-bottom: 10px;
            text-transform: uppercase;
            @include font-size(18px);
        }

        a {
            color: $green;
        }
    }

    .panel-body {
        @include font-size(14px);
    }
    @media #{$tablet} {
        .panel-heading a {
            color: $red;
            margin-left: 10px;
            float: none !important;
        }
    }
}
@mixin panel-skinned {
    .panel {
        box-shadow: none;
        background-color: transparent;
        border: 1px solid $darker-grey;
    }

    .panel-heading {
        margin: 0;
        border-bottom-color: $darker-grey;
    }

    .panel-title {
        padding: 20px 15px 10px;
    }

    figure {
        margin-bottom: 15px;
    }

    img {
        margin: 0 auto;
    }

    .full img {
        width: 100%;
    }

    p {
        color: $grey;
        @include font-size(16px);
    }

    .lead {
        color: $red;
        margin-bottom: 10px;
    }
}
@mixin panel-employee {
    .panel {
        background-color: transparent !important;
    }

    .panel-heading {
        border-bottom: none!important;
    }

    .panel-title {
        padding: 20px 15px 0 !important;
    }

    figure {
        margin-bottom: 60px;
        position: relative;
    }

    figure::before {
        position: absolute;
        bottom: -52.5px;
        content: '';
        width: 132px;
        height: 105px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-size: 132px 105px;
        background-image: url('../images/badge-employee.svg');
        @media #{$tablet} {
            left: -15px;
            bottom: -32px;
            width: 80px;
            height: 64px;
            background-size: 80px 64px;
            background-image: url('../images/badge-employee.svg');
        }
    }

    p {
        @include font-size(20px);
    }

    .lead {
        margin-bottom: 0 !important;
        @include font-size(18px);

        & + p {
            @include font-size(14px);
        }

        & + p + p {
            @include font-size(12px);
        }
    }
    @media #{$tablet} {
        figure {
            @include make-sm-column(4);
            @include make-md-column(4);
            padding-left: 0;
        }
    }
}
@mixin widget-todo {
    .nav-tabs {
        border: none;
        display: flex;

        li {
            flex: 1 1 0;
            overflow-x: hidden;
            text-align: center;
        }

        li a {
            margin: 0;
            color: $medium-grey;
            border-radius: 0;
            border: 1px solid $lightest-grey;
            border-top: none;
            background-color: $white;

            &:active,
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }

        li.active a {
            color: $red;
            border-bottom-color: transparent;
            background-color: transparent;
        }

        li:first-child a {
            border-left: none;
        }

        li:first-child + li {
            a {
                border-left: none;
                border-right: none;
            }
        }

        li:last-child a {
            border-right: none;
        }
    }

    .list-group {
        margin: 10px 0;

        li {
            display: none;
            border-radius: 0;
            @include border-and-background();
        }

        li .droppable {
            float: right;
            min-width: 60px;
            min-height: 20px;
            width: auto;
            height: auto;
        }

        li .fa {
            float: right;
            margin-left: 10px;
            color: $medium-grey;
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
        }

        li img {
            float: right;
            width: 20px;
            margin-right: 10px;
        }

        li a {
            color: $grey;

            &:active,
            &:hover {
                color: $red;
            }
        }

        .over {
            background-color: darken($extra-light-grey, 5%);
        }
    }

    #task-complete,
    #task-deferred {
        @include margin-and-padding(10px 0, 15px);
    }

    .view-more {
        display: block;
        margin: 10px 0;
        text-align: center;
        color: $medium-grey;
    }
}
@mixin widget-mytasks {
    header {
        @include make-row();

        > div {
            @include make-sm-column(6);
        }

        .tasks {
            text-align: left;

            .value {
                color: $medium-grey;
            }
        }

        .status {
            text-align: right;
            padding-right: 85px;
            @media #{$tablet} {
                padding-right: 65px;
            }
        }
    }

    .list-group {
        margin: 10px 0;

        li {
            display: none;
            margin-bottom: 15px;
            color: $grey;
            @include font-size(12px);
            border-radius: 0;
            background-color: transparent;
        }

        li span {
            display: block;
            @include font-size(14px);
        }

        li span:first-of-type {
            float: right;
            color: $grey;
            line-height: 1;
            @include font-size(12px);
            margin-right: 10px;
            margin-left: 10px;
        }

        li a {
            float: right;
            margin-left: 10px;

            &:active,
            &:hover {
                .fa {
                    color: $red;
                }
            }
        }

        li a .fa {
            color: $medium-grey;
            @include font-size(14px);
        }
    }

    .progress {
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        left: 0;
        margin-bottom: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .progress-bar {
        background-color: $green;
    }

    .view-more {
        display: block;
        margin: 20px 0 10px;
        text-align: center;
        color: $medium-grey;
    }
}
@mixin widget-feed() {
    .list-group {
        li {
            color: $white;
            padding: 20px 0;
            border: none;
            border-radius: 0;
            line-height: 1.8;
            @include font-size(16px);
            background-color: transparent;
            font-weight: $font-weight-bold;
            border-bottom: 1px solid $extra-dark-grey;

            &:last-of-type {
                margin-bottom: 60px;
            }
        }

        .badge {
            border-radius: inherit;
            color: $medium-grey;
            @include font-size(12px);
            background-color: transparent;
        }

        .description {
            display: block;
            line-height: 1.4;
            color: $dark-grey;
            @include font-size(14px);
        }
    }
}
@mixin dropdown-notification() {
    .dropdown-notification {
        min-width: 340px;
        padding: 0;
        border-radius: 0;
    }

    .dropdown-notification.dropdown-menu {
        left: 50%;
        right: auto;
        text-align: center;
        transform: translate(-50%, 0);
    }

    .dropdown-notification.dropdown-menu::before {
        position: absolute;
        top: -7px;
        left: 48%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.15);
        content: '';
    }

    .dropdown-notification.dropdown-menu::after {
        position: absolute;
        top: -6px;
        left: 48%;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
    }

    .dropdown-notification header {
        padding: 15px;
        border-bottom: 1px solid $medium-grey-dark;

        h2 {
            text-align: center;
            margin: 0;
            padding: 0;
            color: $grey;
            @include font-size(12px);
            text-transform: uppercase;
        }
    }

    .dropdown-notification section {
        padding: 15px;
        max-height: 180px;
        overflow-y: scroll;

        ul {
            margin: 0;
        }

        li {
            padding: 0;
            margin: 0 0 20px;
            border: none;
            border-radius: 0;
            color: $grey;
            text-align: left;
            @include font-size(14px);
        }

        .fa-red {
            color: #ff0000;
        }

        .fa-yellow {
            color: #fbaf5d;
        }

        .fa-blue {
            color: #2e3192;
        }

        .badge {
            font-weight: 400;
            border: none;
            border-radius: 0;
            background-color: transparent;
            color: $grey;
            @include font-size(14px);
        }

        .description {
            display: block;
            color: $medium-grey;
            @include font-size(12px);
        }
    }

    .dropdown-notification footer {
        border-top: 1px solid $medium-grey-dark;
        padding: 15px;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;

        a {
            padding: 0;
            display: block;
            text-align: center;
            @include font-size(14px);
            color: $red;
            text-transform: capitalize;
        }
    }
}
@mixin dropdown-time-entry() {
    .dropdown-time-entry {
        min-width: 560px;
        padding: 0;
        border-radius: 0;
    }

    .dropdown-time-entry.dropdown-menu::before {
        position: absolute;
        top: -7px;
        right: 15px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.15);
        content: '';
    }

    .dropdown-time-entry.dropdown-menu::after {
        position: absolute;
        top: -6px;
        right: 15px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
    }

    table {
        width: 100%;
    }

    col:first-of-type {
        width: 50%;
    }

    col:first-of-type + col {
        width: 30%;
    }

    col:last-of-type {
        width: 20%;
    }

    thead {
        border-bottom: 1px solid $medium-grey-dark;
    }

    thead td {
        color: $grey;
        padding: 15px;
        vertical-align: top;
        @include font-size(12px);
        text-transform: uppercase;
    }

    thead span {
        display: block;
        text-transform: none;
    }

    thead td:last-of-type {
        text-align: right;
    }

    tbody td {
        color: $grey;
        padding: 10px 15px;
        @include font-size(14px);
    }

    tbody span {
        display: block;
        @include font-size(12px);
    }

    tbody td:last-of-type .fa {
        color: $red;

        &:first-of-type {
            margin-right: 15px;
        }
    }

    tbody td:last-of-type {
        text-align: right;
    }

    tbody td .input-group-addon {
        color: $white;
        border-color: $dark-green;
        background-color: $dark-green;

        &:active,
        &:focus,
        &:hover {
            background-color: darken($dark-green, 5%) !important;
        }
    }

    tbody td .fa {
        margin: 0;
        color: $white;
    }

    tbody .form-control {
        height: 28px;
        text-align: right;
        color: $dark-green;
        border-color: $dark-green;

        &::-webkit-input-placeholder {
            color: $dark-green;
        }

        &:-moz-placeholder {
            color: $dark-green;
        }

        &::-moz-placeholder {
            color: $dark-green;
        }

        &:-ms-input-placeholder {
            color: $dark-green;
        }
    }

    tfoot {
        background-color: $medium-light-grey;
        @include inline-input();
        @include typeahead-standard();
    }
}
@mixin typeahead-styles() {
    .twitter-typeahead {
        display: block!important;
    }

    .tt-menu {
        width: calc(100% + 44px);
        padding: 30px 0 10px;
        top: 81px!important;
        left: -44px!important;
        padding-left: -44px;
        background-color: $white;
        box-shadow: 1px 2px 2px 1px rgba(204,204,204,0.5);
    }

    h3 {
        margin: 0 0 10px 58px;
        font-weight: 200;
        @include font-size(28px);
        color: $medium-grey;
    }

    .tt-suggestion {
        margin: 0 30px;
        padding: 0 0 0 28px;
        line-height: 2;
        color: $grey;
        @include font-size(16px);

        strong {
            font-weight: bold;
        }
    }

    .tt-cursor,
    .tt-suggestion:hover {
        cursor: pointer;
        border-radius: 4px;
        color: $red;
        background-color: $light-red;
    }

    .tt-suggestion:last-child {
        margin-bottom: 10px;
    }
}
@mixin modal-standard() {
    .modal {
        .modal-content {
            box-shadow: none;
            border-radius: 0;
        }

        .modal-header {
            color: $white;
            @include font-size(18px);
            background-color: $red;
            border-bottom: none;
        }

        .modal-header button {
            opacity: 1;
            color: inherit;
        }

        .modal-body {
            position: relative;
            padding: 0 15px 15px;
        }

        .modal-body nav {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            height: auto;
            min-height: 50px;
            color: $white;
            margin: 0 -15px 30px;
            padding: 15px;
            @include font-size(16px);
            background-color: $grey;

            p {
                margin: 0;
            }
        }

        .modal-footer {
            border-top-color: $lightest-grey;
        }

        .modal-footer .btn {
            min-width: 100px;
            border-radius: 0;
            text-transform: uppercase;
        }
    }
}
@mixin modal-content-todo() {
    #todo-modal {
        .modal-body {
            padding-bottom: 0;
        }

        .modal-body section p {
            margin: 15px -15px 0;
            padding: 0 15px 15px;
            border-bottom: 1px solid $darkest-grey;
        }

        .modal-body .container {
            width: auto;
            padding: 0;
        }

        .modal-body .row {
            display: flex;
        }

        .modal-body .col-sm-6 {
            @include typeahead-standard();
        }

        .modal-body .bg-color {
            padding: 15px;
            margin: 0 -15px;
            background-color: $white;
            border-bottom: 1px solid $darkest-grey;
        }

        .modal-body .bg-color p {
            margin-top: 0;
        }

        .modal-body .input {
            padding: 15px 0;

            span {
                left: 10px;
            }
        }

        .modal-body ul {
            margin: 0;
            padding: 0;
        }

        .modal-body .team-member {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .modal-body figure {
            margin-right: 10px;
        }

        .modal-body .team-member span {
            display: block;

            &:first-child {
                @include font-size(14px);
            }

            &:last-child {
                @include font-size(12px);
            }
        }

        .modal-body p {
            padding-bottom: 0;
            border-bottom: none;
        }

        .modal-body form {
            margin: 0 -15px;
            padding: 0 15px;
        }

        .modal-body .form-group {
            margin-bottom: 0;
        }

        .modal-body .column {
            @include make-sm-column(12);
        }

        .modal-body label {
            padding: 0;
            margin: 15px 0;
            text-align: left !important;
        }

        .modal-body textarea {
            resize: none;
            border-radius: 0;
        }

        .col-sm-6:last-of-type {
            border-left: 1px solid $lightest-grey;
            background-color: $super-light-grey;
        }

        .modal-footer .left {
            .fa {
                margin-right: 5px;
            }
        }

        .modal-footer .right .form-group {
            margin-right: 5px;
        }

        .modal-footer .right label {
            color: $grey;
            @include font-size(14px);
        }

        .modal-footer .right .input-group-addon {
            padding: 0;
            border: none;
            border-radius: 0;
            background: none;
        }

        .modal-footer .right input {
            width: 36px;
            height: 34px;
            padding-left: 5px;
            line-height: normal;
        }
    }
}
@mixin modal-content-taskdetails() {
    #task-details-modal {
        .modal-body nav p {
            display: inline-block;

            span {
                color: $super-dark-grey;
            }
        }

        .modal-body nav .modal-info {
            margin-top: 10px;
            @include font-size(14px);
        }

        .modal-body nav a {
            color: $white;
            @include font-size(12px);
            text-transform: uppercase;
        }

        .modal-body .toggled {
            display: block !important;
        }

        .modal-body .container {
            width: auto;
            padding: 0;
        }

        .modal-body ul {
            margin: 0;
            padding: 0;
        }

        .modal-body li {
            margin-bottom: 15px;
            list-style-type: none;

            &:first-of-type {
                .title {
                    @include icon-before( '\f0d7', $purple);
                }
            }

            &:first-of-type + li {
                .title {
                    @include icon-before( '\f0d7', $dark-green);
                }
            }

            &:last-of-type {
                margin-bottom: 0;

                .title {
                    @include icon-before( '\f017', $light-green);
                }
            }
        }

        .modal-body .title {
            color: $grey;
            @include font-size(14px);
            text-transform: uppercase;

            span {
                text-transform: none;
            }
        }

        .modal-body .description {
            font-weight: 200;
            padding: 5px 12px;
            @include font-size(38px);
        }

        .modal-body img {
            width: 100%;
        }
    }
}
@mixin modal-content-taskslist() {
    #tasks-list-modal {
        .dropdown-toggle {
            color: $red;
        }

        #fancytree {
            padding: 0;
        }

        .input {
            margin: 0 -15px;
        }
        @include typeahead-standard();
    }
}
@mixin tablesaw-assignments() {
    .tablesaw-bar {
      float: left;
      width: 30%;
      display: inline;
      clear: none !important;
      @media #{$tablet__up} {
        width: 20%;
      }
    }
    .tablesaw thead {
        border: none !important;
        background: none !important;
        background-image: none !important;
    }

    .tablesaw thead th {
        padding: 8px !important;
        border-top: 1px solid $darkest-grey !important;
        border-bottom: none !important;
        box-shadow: none !important;
        text-transform: none !important;
        text-shadow: none !important;
        text-align: center !important;
        line-height: normal !important;
        font-size: 14px !important;
        background-color: $extra-light-grey !important;
        font-weight: $font-weight-bold !important;
        font-family: "Roboto Condensed", sans-serif !important;
        @media #{$tablet} {
            font-size: 12px !important;
        }
    }

    .tablesaw tbody td {
        font-size: 14px !important;
        @media #{$tablet} {
            font-size: 12px !important;
        }
    }

    .tablesaw td {
        line-height: normal !important;
        padding: 8px !important;
    }

    .tablesaw-swipe .tablesaw-cell-persist {
        box-shadow: none !important;
    }

    .tablesaw-bar .minimap {
        margin-top: -8px;
    }

    .tablesaw-bar .tablesaw-nav-btn {
        position: relative !important;
        margin: 0 !important;
        padding: 0 !important;
        background: none !important;
        font-size: 14px !important;
        width: 14px !important;
        height: 36px !important;
        border: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        text-shadow: none !important;
        display: inline-block !important;
    }

    .tablesaw-bar .tablesaw-nav-btn::before {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: inherit !important;
        vertical-align: -50% !important;
    }

    .tablesaw-bar .tablesaw-nav-btn.right {
        @include icon-before( '\f054' !important, $grey);
    }

    .tablesaw-bar .tablesaw-nav-btn.left {
        margin-right: 10px !important;
        @include icon-before( '\f053' !important, $grey);
    }
}
