/* Dashboard Page Widgets */
// 1. Widget - My Stats
@mixin widget-mystats() {
  h2 {
    padding-top: 3px;
  }
    ul {
        li {
            color: $grey;
            @include font-size(14px);
            @include border-and-background();
            @include margin-and-padding(0 0 30px, 0);

            .badge {
                float: none;
                display: block;
                text-align: left;
                color: $red;
                font-weight: $font-weight-light;
                @include font-size(33px);
                @include margin-and-padding(0, 0);
                @include border-and-background();

                .value {
                    @include font-size(66px);
                }
            }
        }
        @media #{$tablet} {
             @include make-row();

            li {
                @include make-sm-column(4);

                .value {
                    @include font-size(44px);
                }
            }
        }
    }
}
// 2. Widget - My Team
@mixin widget-myteam() {
    .panel {
        .panel-body {
            padding: 30px 15px 0;

            .team-member {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                @include make-sm-column(4);
                @include make-md-column(4);
                @include make-lg-column(4);

                figure {
                    margin-right: 10px;

                    img {
                        @extend .img-circle;

                        &:hover {
                            cursor: move;
                        }
                    }
                }

                span {
                    display: block;

                    &:first-child {
                        @include font-size(14px);
                    }

                    &:last-child {
                        @include font-size(12px);
                    }
                }
            }
        }
        @media #{$tablet} {
            background-color: $lighter-grey;

            .panel-heading {
                border-bottom-color: $grey;

                .panel-title {
                    color: $grey;
                }
            }

            .panel-body {
                img {
                    border-radius: 0 !important;
                }
            }
        }
    }
}
// 3. Bootstrap Standard Panel Overrides
@mixin panel-standard {
    .panel {
        border-radius: 0;

        .panel-heading {
            background: none;
            border-bottom: 1px solid $red;
            @include margin-and-padding(20px 15px 0, 0);

            h2 {
                color: $red;
                display: inline-block;
                padding-bottom: 10px;
                text-transform: uppercase;
                @include font-size(18px);
            }

            a {
                color: $green;
                @extend .pull-right;
            }
        }

        .panel-body {
            @include font-size(14px);
        }
        @media #{$tablet} {
            .panel-heading {
                a {
                    color: $red;
                    margin-left: 10px;
                    float: none !important;
                }
            }
        }
    }
}
// 4. Custom Skinned Panel
@mixin panel-skinned {
    .panel {
        box-shadow: none;
        background-color: transparent;
        border: 1px solid $darker-grey;

        .panel-heading {
            margin: 0;
            border-bottom-color: $darker-grey;

            .panel-title {
                padding: 20px 15px 10px;
            }
        }

        .panel-body {
            figure {
                margin-bottom: 15px;

                img {
                    margin: 0 auto;
                    @extend .img-responsive;
                }

                &.full {
                    img {
                        width: 100%;
                    }
                }
            }

            p {
                color: $grey;
                @include font-size(16px);

                &.lead {
                    color: $red;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
// 5. Custom Employee Panel
@mixin panel-employee {
    .panel {
        background-color: transparent !important;

        .panel-heading {
            border-bottom: none!important;

            .panel-title {
                padding: 20px 15px 0 !important;
            }
        }

        .panel-body {
            figure {
                position: relative;

                &::before {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    content: '';
                    width: 33px;
                    height: 57px;
                    color: $red;
                    background-size: 33px 57px;
                    background-image: url('../images/badge-employee.svg');
                }
            }

            p {
                @include font-size(20px);

                &.lead {
                    margin-bottom: 0 !important;
                    @include font-size(18px);

                    & + p {
                        @include font-size(14px);
                    }

                    & + p + p {
                        @include font-size(12px);
                    }
                }
            }
        }
        @media #{$tablet} {
            .panel-body {
                figure {
                    @include make-sm-column(4);
                    @include make-md-column(4);
                    padding-left: 0;
                    margin-bottom: 0;
                }

                p {
                    &.lead {
                        color: $grey;
                    }
                }
            }
        }
    }
}
// 6. To Do Tabs
@mixin widget-todo {
    .nav-tabs {
        border: none;
        display: flex;

        li {
            flex: 1 1 0;
            overflow-x: hidden;
            text-align: center;

            a {
                margin: 0;
                color: $medium-grey;
                border-radius: 0;
                border: 1px solid $lightest-grey;
                border-top: none;
                background-color: $white;
                @media #{$tablet} {
                    color: $grey;
                }

                &:active,
                &:focus,
                &:hover {
                    background-color: transparent;
                }
            }

            &.active {
                a {
                    color: $red;
                    border-bottom-color: transparent;
                    background-color: transparent;
                }
            }

            &:first-child {
                a {
                    border-left: none;
                }
            }

            &:first-child + li {
                a {
                    border-left: none;
                    border-right: none;
                }
            }

            &:last-child {
                a {
                    border-right: none;
                }
            }
        }
    }

    .tab-content {
        .list-group {
            margin: 10px 0;

            li {
                display: none;
                border-radius: 0;
                @include border-and-background();

                #drop {
                    float: right;

                    &.dropbox {
                        min-width: 20px;
                        min-height: 20px;
                    }
                }

                .fa {
                    float: right;
                    margin-left: 10px;
                    color: $medium-grey;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 20px;
                    @media #{$tablet} {
                        color: $red;
                    }
                }

                img {
                    float: right;
                    width: 20px;
                    margin-right: 10px;
                    @extend .img-circle;
                    @media #{$tablet} {
                        display: none;
                    }
                }

                &.over {
                    background-color: darken($extra-light-grey, 5%);
                }
            }
        }

        #task-complete,
        #task-deferred {
            @include margin-and-padding(10px 0, 15px);
        }
    }

    .view-more {
        display: block;
        margin: 10px 0;
        text-align: center;
        color: $medium-grey;
    }
}
// 7. Widget - My Tasks
@mixin widget-mytasks {
    header {
        @include make-row();

        > div {
            @include make-sm-column(6);
        }

        .tasks {
            text-align: left;

            .value {
                color: $medium-grey;
            }
        }

        .status {
            text-align: right;
            padding-right: 85px;
            @media #{$tablet} {
                padding-right: 65px;
            }
        }
    }

    .list-group {
        margin: 10px 0;

        li {
            display: none;
            margin-bottom: 15px;
            color: $grey;
            @include font-size(12px);
            border-radius: 0;
            background-color: transparent;

            span {
                display: block;
                @include font-size(14px);

                &:first-of-type {
                    float: right;
                    color: $grey;
                    line-height: 1;
                    @include font-size(12px);
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

            .fa {
                float: right;
                margin-left: 10px;
                color: $medium-grey;
                @include font-size(14px);
                @media #{$tablet} {
                    color: $red;
                }

                &.fa-info-circle {
                    @media #{$tablet} {
                        display: none;
                    }
                }
            }

            .progress {
                position: absolute;
                bottom: 0;
                height: 3px;
                width: 100%;
                left: 0;
                margin-bottom: 0;
                border-radius: 0;
                background-color: transparent;
                box-shadow: none;

                .progress-bar {
                    background-color: $green;
                }
            }
        }
    }

    .view-more {
        display: block;
        margin: 20px 0 10px;
        text-align: center;
        color: $medium-grey;
    }
}
// 8. Box Notifications
@mixin widget-feed() {
    .list-group {
        li {
            color: $white;
            padding: 20px 0;
            border: none;
            border-radius: 0;
            line-height: 1.8;
            @include font-size(16px);
            background-color: transparent;
            font-weight: $font-weight-bold;
            border-bottom: 1px solid $extra-dark-grey;

            .badge {
                border-radius: inherit;
                color: $medium-grey;
                @include font-size(12px);
                background-color: transparent;
            }

            .description {
                display: block;
                line-height: 1.4;
                color: $dark-grey;
                @include font-size(14px);
            }

            &:last-of-type {
              margin-bottom: 60px;
            }
        }
    }
}
// 9. Notification Dropdown
@mixin dropdown-notification() {
    .dropdown-notification {
        min-width: 340px;
        padding: 0;
        border-radius: 0;

        &.dropdown-menu {
            left: 50%;
            right: auto;
            text-align: center;
            transform: translate(-50%, 0);

            &::before {
                position: absolute;
                top: -7px;
                left: 48%;
                display: inline-block;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #ccc;
                border-left: 7px solid transparent;
                border-bottom-color: rgba(0, 0, 0, 0.15);
                content: '';
            }

            &::after {
                position: absolute;
                top: -6px;
                left: 48%;
                display: inline-block;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #ffffff;
                border-left: 6px solid transparent;
                content: '';
            }
        }

        header {
            padding: 15px;
            border-bottom: 1px solid $medium-grey-dark;

            h2 {
                text-align: center;
                margin: 0;
                padding: 0;
                color: $grey;
                @include font-size(12px);
                text-transform: uppercase;
            }
        }

        section {
            padding: 15px;
            max-height: 180px;
            overflow-y: scroll;

            ul {
                margin: 0;

                li {
                    padding: 0;
                    margin: 0 0 20px;
                    border: none;
                    border-radius: 0;
                    color: $grey;
                    text-align: left;
                    @include font-size(14px);

                    .fa-red {
                        color: #ff0000;
                    }

                    .fa-yellow {
                        color: #fbaf5d;
                    }

                    .fa-blue {
                        color: #2e3192;
                    }

                    .badge {
                        font-weight: 400;
                        border: none;
                        border-radius: 0;
                        background-color: transparent;
                        color: $grey;
                        @include font-size(14px);
                    }

                    .description {
                        display: block;
                        color: $medium-grey;
                        @include font-size(12px);
                    }
                }
            }
        }

        footer {
            border-top: 1px solid $medium-grey-dark;
            padding: 15px;

            a {
                padding: 0;
                display: block;
                text-align: center;
                @include font-size(14px);
                color: $red;
                text-transform: capitalize;
            }
        }
    }
}
// 10. Typeahead styles
@mixin typeahead-styles() {
    > span:not(#search) {
        display: block!important;

        > div {
            width: calc(100% + 59px);
            padding: 30px 0 10px;
            top: 81px!important;
            left: -59px!important;
            padding-left: -59px;
            background-color: $white;
            box-shadow: 1px 2px 2px 1px rgba(204,204,204,0.5);

            .tt-dataset {
                h3 {
                    margin: 0 0 10px 70px;
                    font-weight: 200;
                    @include font-size(28px);
                    color: $medium-grey;
                }

                .tt-suggestion {
                    margin: 0 30px;
                    padding: 0 0 0 40px;
                    line-height: 2;
                    color: $grey;
                    @include font-size(16px);

                    strong {
                        font-weight: bold;
                    }

                    &.tt-cursor,
                    &:hover {
                        cursor: pointer;
                        border-radius: 4px;
                        color: $red;
                        background-color: $light-red;
                    }

                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
