/*

  Modules: Table of Contents
  1. Inline Input
  2. Typeahead Standard
  3. Loader
  4. Fancytree
  5. Widget: My Stats (Dashboard Page)
  6. Widget: My Team (Dashboard Page)
  7. Widget: My Team (Dashboard Page)
  8. Widget: Panel Standard
  9. Widget: Panel Skinned
  10. Widget: Panel (Team Member of the Day)
  11. Widget: To Do (Dashboard Page)
  12. Widget: My Tasks (Dashboard Page)
  13. Feed
  14. Dropdown: Notification Panel
  15. Dropdown: Time Entry Panel
  16. Typeahead for Primary Menu Search Bar
  17. Modal: Standard
  18. Modal: To Do
  19. Modal: Task Details
  20. Modal: Assignments
  21. Tablesaw Styles

*/

@mixin inline-input {
  .input {
    padding: 15px;
    position: relative;
    input {
      height: 40px;
      border-radius: 0;
      padding-left: 35px;
      color: $medium-grey;
      @include input-placeholder-color($medium-grey);
    }
    span {
      position: absolute;
      display: block;
      top: 25px;
      left: 25px;
      color: $red;
      @include font-size(14px);
    }
  }
}

@mixin typeahead-standard() {
    .twitter-typeahead {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
        width: 100% !important;
    }

    .tt-menu {
        padding: 15px 0;
        width: 100% !important;
        background-color: $white;
        box-shadow: 1px 2px 2px 1px rgba(204,204,204,0.5);
    }

    .tt-suggestion {
        color: $grey;
        line-height: 2;
        padding: 0 35px;
    }

    .tt-suggestion.tt-cursor,
    .tt-suggestion:hover {
        color: $red;
        cursor: pointer;
        background-color: $light-red;
    }
}

@mixin loader() {
  .loading-2 {
    top: 300px;
    width: 161px;
    height: 162px;
    font-size: 0;
    background: rgba(255,255,255,0.06);
    margin: 0 auto;
  }
  .loading-2-text {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('../images/loading.png');
    width: 161px;
    height: 162px;
    display: inline-block;
  }
  @keyframes wave-animation {
    0% {
      background-position: 0 bottom;
    };
    100% {
      background-position: 200px bottom;
    };
  }
  @keyframes loading-animation {
    0% {
      background-size: 200px 0;
    };
    100% {
      background-size: 200px 200px;
    };
  }
  .wave {
    background-image: url('http://i.imgur.com/uFpLbYt.png');
    background-clip: text;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 rgba(255,255,255,0.06);
    animation: wave-animation 2.5s infinite linear, loading-animation 2.5s infinite linear alternate;
    background-size: 200px 200px;
    background-repeat: repeat-x;
    opacity: 1;
  }
  .wave-2 {
    background-clip: initial;
    display: inline-block;
  }
}

// Source: https://codepen.io/lbebber/pen/xrwja
@mixin fancytree() {
  .fancytree-container {
    max-height: 400px;
    overflow: scroll;
  }
  #fancytree, .all-tasks {
    padding: 0 15px 15px;
    * {
      font-weight: $font-weight-regular;
      @include font-size(12px);
      font-family: "Roboto Condensed";
    }
    .fancytree-container {
      border: none;
      padding: 10px;
      outline: none !important;
    }
    // Source: http://stackoverflow.com/questions/26024818/fancytree-remove-blue-border-when-selected.
    .fancytree-hover {
      line-height: 2;
    }
    .fancytree-icon {
      margin-top: 0;
    }
    .fancytree-title:hover {
      background-color: transparent;
    }
    .fancytree-expander {
      border-bottom: 1px dashed $medium-grey;
    }
    .fancytree-has-children .fancytree-expander {
      padding: 3px 0;
      margin: 0 0 0 -5px;
      @include icon-before( '\f0da', $medium-grey);
    }
    // Any element that has children will have a caret before it
    .fancytree-expanded .fancytree-expander {
      margin: 0 0 0 -4px;
      padding: 4px 0;
      @include icon-before( '\f0d7', $medium-grey);
    }
    // Any element that has children will have a caret before it changes on click
    .fancytree-ico-c .fancytree-icon {
      @include icon-before( '\f24a', $grey);
    }
    // Cube Icon
    .fancytree-ico-ef .fancytree-icon {
      @include icon-before( '\f115', $grey);
    }
    // Expanded Folder Icon
    .fancytree-ico-cf .fancytree-icon {
      @include icon-before( '\f07b', $grey);
    }
    // Folder Icon
    .fancytree-node:hover {
      .fancytree-icon::before {
        transition: all 1s;
        color: $green !important;
      }
      .fancytree-title {
        color: inherit !important;
        border: 1px solid transparent !important;
        background-color: transparent !important;
      }
      .fancytree-hover {
        color: $green;
        border-radius: 4px;
        padding: 2px 4px 4px 0;
        background-color: $lightest-green;
      }
    }
    .fancytree-node.fancytree-active {
      .fancytree-icon::before {
        color: $green !important;
      }
      .fancytree-title {
        color: inherit !important;
        border: 1px solid transparent !important;
        background-color: transparent !important;
      }
      .fancytree-hover {
        color: $green;
        border-radius: 4px;
        padding: 2px 4px 4px 0;
        background-color: $lightest-green;
      }
    }
    .fancytree-lastsib ul > li {
      border-left: 1px dashed $medium-grey;
      .fancytree-expander {
        border-bottom: 1px dashed $medium-grey;
      }
    }
    > ul > li > span > a {
      span {
        color: $blue;
        @include font-size(14px);
      }
      span.fancytree-icon::before {
        color: $blue !important;
        content: '\f007' !important;
      }
    }
  }
}

@mixin widget-mystats() {
  h2 {
    color: $red;
    padding-top: 3px;
    margin-bottom: 30px;
    @include font-size(18px);
    text-transform: uppercase;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    @include margin-and-padding(0, 0);
  }
  li {
    color: $grey;
    width: 120px;
    list-style-type: none;
    @include font-size(14px);
    @include margin-and-padding(0 0 30px, 0);
  }
  .badge {
    color: $red;
    float: none;
    display: block;
    text-align: left;
    font-weight: $font-weight-light;
    @include font-size(24px);
    @include border-and-background();
    @include margin-and-padding(0, 0);
  }
  .value {
    @include font-size(34px);
  }
}

@mixin widget-myteam() {
  .panel-heading {
    a {
      margin-left: 10px;
      color: $medium-grey;
      @include hyperlink-hover($medium-grey);
    }
  }
  .container {
    width: auto;
    padding: 30px 15px 0;
  }
  ul {
    @include margin-and-padding(0, 0);
    li {
      display: table;
      margin-bottom: 15px;
      padding-left: 0;
      padding-right: 0;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      figure {
        width: 75px;
        margin-right: 10px;
        img:hover {
          cursor: move;
        }
      }
      .info {
        padding-left: 10px;
      }
      span {
        display: block;
        &:first-child {
          @include font-size(14px);
        }
        &:last-child {
          @include font-size(12px);
        }
      }
    }
  }
}

@mixin panel-standard {
  .panel {
    border-radius: 0;
    .panel-heading {
      background: none;
      border-bottom: 1px solid $red;
      @include margin-and-padding(20px 15px 0, 0);
      h2 {
        color: $red;
        padding-bottom: 10px;
        display: inline-block;
        @include font-size(18px);
        text-transform: uppercase;
      }
      a {
        color: $green;
      }
      &:hover {
        cursor: move;
      }
    }
    .panel-body {
      @include font-size(14px);
    }
  }
  @media #{$tablet} {
    .panel-heading a {
      color: $red;
      margin-left: 10px;
      float: none !important;
    }
  }
}

@mixin panel-skinned {
  .panel {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid $darker-grey;
    .panel-heading {
      margin: 0;
      border-bottom-color: $darker-grey;
      .panel-title {
        padding: 20px 15px 10px;
      }
    }
  }
  figure {
    margin-bottom: 15px;
    img {
      margin: 0 auto;
    }
    &.full img {
      width: 100%;
    }
  }
  p {
    color: $grey;
    @include font-size(16px);
    &.lead {
      color: $red;
      margin-bottom: 10px;
    }
  }
}

@mixin panel-employee {
  .panel {
    background-color: transparent !important;
    .panel-heading {
      border-bottom: none!important;
      .panel-title {
        padding: 20px 15px 0 !important;
      }
    }
  }
  .img-employee {
    width: 100%;
    @media #{$tablet} {
      float: left;
      width: auto;
      max-width: 120px;
    }
    @media #{$tablet__up} {
      margin-bottom: 15px;
    }
  }
  p {
    @include font-size(20px);
    &.lead {
      margin-bottom: 0;
      @include font-size(18px);
      & + p {
        margin-bottom: 15px;
        @include font-size(14px);
      }
      & + p + p {
        @include font-size(12px);
      }
    }
  }
  .employee-tags {
    text-align: center;
    @media #{$tablet__up} {
      img {
        width: auto;
        max-width: 65px;
        margin: 15px 5px 5px;
      }
    }
    @media #{$tablet} {
      img {
        margin: 15px 5px 5px;
      }
    }
  }
  @media #{$tablet} {
    .employee-info {
      margin-left: 135px;
    }
  }
}

@mixin widget-todo {
  .nav-tabs {
    border: none;
    display: flex;
    li {
      flex: 1 1 0;
      overflow-x: hidden;
      text-align: center;
      a {
        margin: 0;
        border-radius: 0;
        color: $medium-grey;
        background-color: $white;
        border: 1px solid $lightest-grey;
        border-top: none;
        &:active,
        &:focus,
        &:hover {
          background-color: transparent;
        }
      }
      &.active a {
        color: $red;
        background-color: transparent;
        border-bottom-color: transparent;
      }
      &:first-child a {
        border-left: none;
      }
      &:first-child + li {
        a {
          border-left: none;
          border-right: none;
        }
      }
      &:last-child a {
        border-right: none;
      }
    }
  }
  .list-group {
    margin: 10px 0;
    li {
      display: none;
      border-radius: 0;
      @include border-and-background();
      .droppable {
        float: right;
        width: auto;
        height: auto;
        min-width: 60px;
        min-height: 20px;
      }
      .fa {
        float: right;
        margin-left: 10px;
        line-height: 20px;
        color: $medium-grey;
        display: inline-block;
        vertical-align: middle;
      }
      img {
        float: right;
        width: 20px;
        margin-right: 10px;
      }
      a {
        color: $grey;
        @include hyperlink-hover($grey);
      }
    }
    .over {
      background-color: darken($extra-light-grey, 5%);
    }
  }
  #task-complete,
  #task-deferred {
    @include margin-and-padding(10px 0, 15px);
  }
  .view-more {
    display: block;
    margin: 10px 0;
    text-align: center;
    color: $medium-grey;
  }
}

@mixin widget-mytasks {
  .container {
    width: 100%;
  }
  .tasks {
    text-align: left;
    .value {
      color: $medium-grey;
    }
  }
  .status {
    text-align: right;
    padding-right: 85px;
    @media #{$tablet} {
      padding-right: 65px;
    }
  }
  .list-group {
    margin: 10px 0;
    li {
      color: $grey;
      display: none;
      border-radius: 0;
      margin-bottom: 15px;
      @include font-size(12px);
      background-color: transparent;
      span {
        display: block;
        @include font-size(14px);
        &:first-of-type {
          float: right;
          color: $grey;
          line-height: 1;
          margin-right: 10px;
          margin-left: 10px;
          @include font-size(12px);
        }
      }
      a {
        float: right;
        margin-left: 10px;
        .fa {
          color: $medium-grey;
          @include font-size(14px);
        }
        &:active,
        &:focus,
        &:hover {
          .fa {
            color: $red;
          }
        }
      }
    }
  }
  .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }
  .progress-bar {
    background-color: $green;
  }
  .view-more {
    display: block;
    margin: 20px 0 10px;
    text-align: center;
    color: $medium-grey;
  }
}

@mixin widget-feed() {
  li {
    color: $white;
    padding: 20px 0;
    line-height: 1.8;
    @include font-size(16px);
    border-radius: 0 !important;
    @include border-and-background();
    font-weight: $font-weight-regular;
    border-bottom: 1px solid $extra-dark-grey;
    &:last-of-type {
      margin-bottom: 60px;
    }
    input[type="checkbox"], .fa {
      margin-right: 5px;
    }
    small {
      display: block;
      line-height: 1.4;
      color: $dark-grey;
      @include font-size(14px);
      font-weight: $font-weight-regular;
    }
    .badge {
      color: $medium-grey;
      border-radius: inherit;
      @include font-size(12px);
      background-color: transparent;
    }
  }
}

@mixin dropdown-notification() {
  padding: 0;
  min-width: 340px;
  border-radius: 0;
  &.dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    &::before {
      position: absolute;
      content: '';
      top: -7px;
      left: 48%;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.15);
    }
    &::after {
      position: absolute;
      content: '';
      top: -6px;
      left: 48%;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
    }
  }
  h2 {
    color: $grey;
    text-align: center;
    @include font-size(12px);
    text-transform: uppercase;
    @include margin-and-padding(0, 15px);
    border-bottom: 1px solid $medium-grey-dark;
  }
  ul {
    max-height: 180px;
    overflow-y: scroll;
    @include margin-and-padding(0, 15px);
    li {
      color: $grey;
      border: none;
      border-radius: 0;
      text-align: left;
      @include font-size(14px);
      @include margin-and-padding(0 0 20px, 0);
      small {
        display: block;
        color: $medium-grey;
        @include font-size(12px);
      }
      .badge {
        color: $grey;
        border-radius: 0;
        @include font-size(14px);
        @include border-and-background();
        font-weight: $font-weight-regular;
      }
    }
  }
}

@mixin dropdown-time-entry() {
  padding: 0;
  min-width: 560px;
  border-radius: 0;
  &.dropdown-menu {
    &::before {
      position: absolute;
      content: '';
      top: -7px;
      right: 15px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.15);
    }
    &::after {
      position: absolute;
      content: '';
      top: -6px;
      right: 15px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
    }
  }
  table {
    width: 100%;
    col:first-of-type {
      width: 50%;
    }
    col:first-of-type + col {
      width: 30%;
    }
    col:last-of-type {
      width: 20%;
    }
    thead {
      border-bottom: 1px solid $medium-grey-dark;
      th {
        color: $grey;
        padding: 15px;
        vertical-align: top;
        @include font-size(12px);
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        &:last-of-type {
          text-align: left;
        }
        span {
          display: block;
          text-transform: none;
        }
      }
    }
    tbody {
      td {
        color: $grey;
        padding: 10px 15px;
        @include font-size(14px);
        &:first-of-type .fa {
          margin-right: 10px;
        }
        &:last-of-type {
          text-align: left;
          * {
            margin-right: 5px;
          }
        }
        .input-group .btn {
          height: 30px;
          padding: 0px 12px;
          border-radius: 4px 0 0 4px;
        }
        small {
          display: inline-block;
          text-transform: none;
          @include font-size(12px);
        }
        .form-control {
          min-height: 30px !important;
          height: 30px !important;
          text-align: right;
          color: $dark-green;
          border-color: $dark-green;
          border-radius: 4px !important;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          @include input-placeholder-color($dark-green);
        }
      }
    }
    tfoot {
      @include inline-input();
      @include typeahead-standard();
      background-color: $medium-light-grey;
      .input {
        width: calc(100% - 40px);
      }
      .btn-sitemap {
        position: absolute;
        top: 15px;
        right: -25px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: $medium-grey;
        @include hyperlink-hover($medium-grey);
        .fa {
          line-height: 40px;
        }
      }
    }
  }
}

@mixin dropdown-keyboard-shortcuts() {
  padding: 0;
  min-width: 400px;
  border-radius: 0;
  &.dropdown-menu {
    &::before {
      position: absolute;
      content: '';
      top: -7px;
      right: 15px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.15);
    }
    &::after {
      position: absolute;
      content: '';
      top: -6px;
      right: 15px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
    }
  }
  h2 {
    color: $grey;
    @include font-size(12px);
    text-transform: uppercase;
    @include margin-and-padding(0, 15px);
    border-bottom: 1px solid $medium-grey-dark;
  }
  section {
    height: 175px;
    overflow-y: scroll;
  }
  table {
    width: 100%;
    col:first-of-type {
      width: 10%;
    }
    col:last-of-type {
      width: 90%;
    }
    tbody {
      td {
        color: $grey;
        padding: 10px 15px;
        @include font-size(14px);
        &:first-of-type {
          color: $red;
          vertical-align: top;
          @include font-size(16px);
          font-weight: $font-weight-bold;
        }
        small {
          display: block;
          color: $medium-grey;
          @include font-size(12px);
        }
      }
    }
  }
}

@mixin typeahead-styles() {
  .twitter-typeahead {
    display: block!important;
  }
  .tt-menu {
    padding: 30px 0 10px !important;
    top: 81px!important;
    left: -44px!important;
    width: calc(100% + 44px);
    background-color: $white;
    box-shadow: 1px 2px 2px 1px rgba(204,204,204,0.5);
  }
  h3 {
    color: $medium-grey;
    margin: 0 0 10px 58px;
    @include font-size(28px);
    font-weight: $font-weight-light;
  }
  .tt-suggestion {
    color: $grey;
    line-height: 2;
    @include font-size(16px);
    @include margin-and-padding(0 30px, 0 0 0 28px);
    strong {
      font-weight: $font-weight-bold;
    }
  }
  .tt-cursor,
  .tt-suggestion:hover {
    color: $red;
    cursor: pointer;
    border-radius: 4px;
    background-color: $light-red;
  }
  .tt-suggestion:last-child {
    margin-bottom: 10px;
  }
}

@mixin modal-standard() {
  .modal-content {
    box-shadow: none;
    border-radius: 0;
  }
  .modal-header {
    color: $white;
    border-bottom: none;
    background-color: $red;
    @include font-size(18px);
    button {
      opacity: 1;
      color: inherit;
    }
  }
  .modal-body {
    position: relative;
    padding: 0 15px 15px;
    nav {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: auto;
      color: $white;
      padding: 15px;
      min-height: 50px;
      margin: 0 -15px 30px;
      @include font-size(16px);
      background-color: $grey;
      p {
        margin: 0;
      }
    }
  }
  .modal-footer {
    border-top-color: $lightest-grey;
    .btn {
      min-width: 100px;
      border-radius: 0;
      text-transform: uppercase;
    }
  }
}

@mixin modal-content-todo() {
  #todo-modal {
    .modal-body {
      padding-bottom: 0;
      .created-by {
        border-bottom: 1px solid $darkest-grey;
        @include margin-and-padding(15px -15px 0, 0 15px 15px);
      }
      .container {
        width: auto;
        padding: 0;
        .row {
          display: flex;
          .col-sm-6 {
            @include typeahead-standard();
            > .input {
              margin: 0 -15px;
            }
            label {
              font-weight: $font-weight-bold;
            }
            &:last-of-type {
              border-left: 1px solid $lightest-grey;
              background-color: $super-light-grey;
            }
          }
        }
      }
      .left-col {
        label {
          @include margin-and-padding(15px 0 0, 0);
        }
        ul {
          @include margin-and-padding(0, 0);
        }
        li {
          display: table;
          @include margin-and-padding(0 0 15px, 0);
          > * {
            display: table-cell;
            vertical-align: middle;
          }
          img {
            width: 75px;
          }
          section {
            padding-left: 10px;
            span {
              display: block;
              &:first-child {
                @include font-size(14px);
              }
              &:last-child {
                @include font-size(12px);
              }
            }
          }
        }
      }
      .right-col {
        .bg-white {
          background-color: $white;
          border-bottom: 1px solid $darkest-grey;
          @include margin-and-padding(0 -15px, 0);
          label {
            @include margin-and-padding(0, 15px 0 0 15px);
          }
        }
        .form-group {
          @include margin-and-padding(0 -15px, 0);
          label {
            font-weight: $font-weight-bold;
            @include margin-and-padding(15px 0, 0);
          }
        }
      }
    }
    .modal-footer {
      .fa {
        margin-right: 5px;
      }
      .pull-right {
        .form-group {
          margin-right: 5px;
        }
        label {
          @include font-size(14px);
        }
        .input-group-addon {
          padding: 0;
          border-radius: 0;
          @include border-and-background();
        }
        input[type="text"] {
          width: 36px;
          height: 34px;
          padding-left: 5px;
          line-height: normal;
        }
      }
    }
  }
}

@mixin modal-content-taskdetails() {
  #task-details-modal {
    .modal-body {
      img {
        width: 100%;
      }
      nav {
        a {
          color: $white;
          @include font-size(12px);
          text-transform: uppercase;
        }
        span {
          margin-right: 5px;
          display: inline-block;
          color: $super-dark-grey;
        }
        .nav-info {
          margin-top: 10px;
          @include font-size(14px);
        }
      }
      .container {
        width: auto;
        @include margin-and-padding(0 0 20px, 0);
        .toggled {
          display: block !important;
        }
      }
      ul {
        @include margin-and-padding(0, 0);
        li {
          margin-bottom: 15px;
          &:first-of-type {
            .title {
              @include icon-before( '\f0d7', $purple);
            }
          }
          &:first-of-type + li {
            .title {
              @include icon-before( '\f0d7', $dark-green);
            }
          }
          &:last-of-type {
            margin-bottom: 0;
            .title {
              @include icon-before( '\f017', $light-green);
            }
          }
          .title {
            color: $grey;
            @include font-size(14px);
            text-transform: uppercase;
          }
          .input-taskdetails {
            color: $grey;
            width: 100%;
            padding: 0;
            box-shadow: none;
            display: inline-block;
            @include font-size(38px);
            border: 1px solid transparent;
            font-weight: $font-weight-light;
            @include input-placeholder-color($grey);
            &:focus {
              border: 1px solid $green;
            }
          }
        }
      }
    }
  }
}

@mixin modal-content-taskslist() {
  #tasks-list-modal {
    .dropdown-toggle {
      color: $red;
    }
    #fancytree {
      padding: 0;
    }
    .input {
      margin: 0 -15px;
    }
    @include typeahead-standard();
  }
}

@mixin modal-content-assignment() {
  #assignment-modal {
    @include font-size(14px);
    form {
      margin: 30px 0 0;
    }
    .form-group {
      &:first-child {
        padding-left: 0;
        padding-right: 0;
      }
      &:first-child + div {
        padding-left: 0;
        padding-right: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .control-label {
      padding-top: 10px;
    }
    fieldset {
      @include margin-and-padding(0 0 15px, 15px);
      background-color: $super-extra-lightest-grey;
    }
    legend {
      float: left;
      border: none;
      @include font-size(14px);
      text-transform: uppercase;
      @include margin-and-padding(0 0 15px, 0);
    }
    .checkbox {
      margin: 0 15px;
    }
    .contributions {
      padding-top: 10px;
    }
    .input-icon {
      position: relative;
      span {
        position: absolute;
        top: 7px;
        bottom: 0;
        right: 5px;
      }
      a {
        @include hyperlink-hover($grey);
        &:hover {
          cursor: default;
        }
      }
    }
    input[type="text"] {
      color: $grey;
      border-radius: 0;
      border-color: $lightest-grey;
      @include input-placeholder-color( $grey);
    }
  }
}

@mixin modal-content-editproject() {
  #edit-project-modal {
    @include font-size(14px);
    form {
      margin: 30px 0 0;
    }
    .form-group {
      &:first-child {
        padding-left: 0;
        padding-right: 0;
      }
      &:first-child + div {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .control-label {
      padding-top: 10px;
    }
    fieldset {
      @include margin-and-padding(0 0 15px, 15px);
      background-color: $super-extra-lightest-grey;
    }
    legend {
      float: left;
      border: none;
      @include font-size(14px);
      text-transform: uppercase;
      @include margin-and-padding(0 0 15px, 0);
    }
    textarea {
      color: $grey;
      border-radius: 0;
      border-color: $lightest-grey;
    }
    .radio {
      @include margin-and-padding(0, 0);
      line-height: normal;
    }
    input[type="radio"] {
      margin-right: 10px;
    }
    .contributions {
      padding-top: 10px;
    }
    .bootstrap-select {
      width: 100%;
    }
    .span-half .bootstrap-select {
      width: inherit;
    }
    .bootstrap-select .btn,
    .selectpicker {
      text-transform: none;
      @include font-size(14px);
    }
    .input-group {
      display: inline-block;
      .input-group-btn {
        display: inline-block;
        .btn {
          @include font-size(14px);
        }
      }
    }
    .input-icon {
      position: relative;
      span {
        position: absolute;
        top: 7px;
        bottom: 0;
        right: 5px;
      }
      a {
        @include hyperlink-hover($grey);
        &:hover {
          cursor: default;
        }
      }
    }
    input[type="text"] {
      color: $grey;
      border-radius: 0;
      border-color: $lightest-grey;
      @include input-placeholder-color($grey);
    }
  }
}

@mixin modal-content-dyk() {
  #dyk-modal {
    .modal-body {
      .container {
        width: auto;
        height: auto;
        min-height: 120px;
        background-color: $light-grey;
        @include margin-and-padding(-15px -15px 15px, 15px 15px 0);
      }
      .carousel {
        height: auto;
        min-height: 120px;
      }
      .carousel-control {
        color: $black;
        width: 30px;
        text-shadow: none;
        background-color: red;
        background-image: none;
        &::before {
          margin: 0 !important;
          vertical-align: -50%;
        }
      }
      .bg-white {
        padding: 30px 0 0;
        background-color: $white;
        display: flex;
        > * {
          flex: 1;
        }
      }
      .img-holder {
        height: 100%;
        text-align: center;
        color: $medium-grey;
        @include font-size(16px);
        text-transform: uppercase;
        background-color: $light-grey;
        border: 1px solid $diamond-grey-light;
        img {
          width: auto;
          margin: 30px auto;
        }
        footer  {
          padding: 0 5px;
        }
        a {
          color: $red;
          float: left;
          text-decoration: underline;
          @include hyperlink-hover($red);
        }
        span {
          float: right;
        }
        a, span {
          display: inline;
        }
      }
      p {
        margin-top: 15px;
        @include font-size(12px);
      }
      .form-group {
        width: 100%;
        height: 100%;
        margin: 0;
        label {
          margin: 20px 0 10px;
          @include font-size(16px);
          font-weight: $font-weight-bold;
          &:first-child {
            margin-top: 0;
          }
        }
        input, textarea {
          border-color: $extra-darkest-grey;
        }
      }
      // Source: http://bootsnipp.com/snippets/featured/thumbnail-carousel
    }
    .modal-footer {
      .fa {
        margin-right: 5px;
      }
    }
  }
}

@mixin tablesaw-assignments() {
  .tablesaw-bar {
    float: left;
    width: 30%;
    display: inline;
    clear: none !important;
    @media #{$tablet__up} {
      width: 20%;
    }
  }
  .tablesaw thead {
    border: none !important;
    background: none !important;
    background-image: none !important;
  }
  .tablesaw thead th {
    padding: 8px !important;
    border-top: 1px solid $darkest-grey !important;
    border-bottom: none !important;
    box-shadow: none !important;
    text-transform: none !important;
    text-shadow: none !important;
    text-align: center !important;
    line-height: normal !important;
    font-size: 14px !important;
    background-color: $extra-light-grey !important;
    font-weight: $font-weight-bold !important;
    font-family: "Roboto Condensed", sans-serif !important;
    @media #{$tablet} {
      font-size: 12px !important;
    }
  }
  .tablesaw tbody td {
    font-size: 14px !important;
    @media #{$tablet} {
      font-size: 12px !important;
    }
  }
  .tablesaw td {
    padding: 8px !important;
    line-height: normal !important;
  }
  .tablesaw-swipe .tablesaw-cell-persist {
    box-shadow: none !important;
  }
  .tablesaw-bar .minimap {
    margin-top: -8px;
  }
  .tablesaw-bar .tablesaw-nav-btn {
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
    font-size: 14px !important;
    width: 14px !important;
    height: 36px !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    display: inline-block !important;
  }
  .tablesaw-bar .tablesaw-nav-btn::before {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: inherit !important;
    vertical-align: -50% !important;
  }
  .tablesaw-bar .tablesaw-nav-btn.right {
    @include icon-before( '\f054' !important, $grey);
  }
  .tablesaw-bar .tablesaw-nav-btn.left {
    margin-right: 10px !important;
    @include icon-before( '\f053' !important, $grey);
  }
}
