.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 80px;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  background-color: $white;
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  @media #{$tablet__up} {
    overflow: visible;
  }
}

.navbar-inner {
  min-height: 80px;
  width: 100%;
  position: relative;
  left: 0;
}

.navbar-header {
  position: relative;
  padding: 0;
  width: 100%;
  height: 80px;
  width: 247px;
  z-index: 10;
}

.navbar-brand {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: $white no-repeat center center/cover url("../images/logo-background.png");
}

.navbar-logo {
  width: 133px;
  height: 40px;
  background: transparent no-repeat center center/cover url("../images/logo-shape.png");
}

#topnav-collapse {
  position: relative;
  .input-group {
    position: relative;
    z-index: 5;
    margin-bottom: 0;
    .input-group-addon {
      padding-left: 15px;
      @include font-size(18px);
      color: $red;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
    .input-search {
      color: $medium-grey;
      height: 80px;
      font-weight: $font-weight-light;
      @include font-size(20px);
      border: none;
      border-radius: 0;
      box-shadow: none;
      padding-right: 300px;
      @include input-placeholder-color($medium-grey);
    }
    // Typeahead.js styles
    @include typeahead-styles();
  }
}

.navbar-right {
  background-color: $white;
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 15px;
  img {
    width: 14px;
  }
  a {
    color: $grey;
    .fa {
      margin-right: 0;
    }
    &:active,
    &:focus,
    &:hover {
      color: $red;
      cursor: pointer;
      background-color: transparent !important;
      .fa {
        color: inherit;
      }
    }
  }
  li:last-child .feed-toggle {
    color: $grey;
    padding-left: 30px;
    padding-right: 30px;
    @include hyperlink-hover($red);
  }
  .badge-notify {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 22px;
    right: 2px;
    @include font-size(12px);
    background-color: $red;
  }
  .dd-notification {
    @include dropdown-notification();
  }
  .dd-time-entry {
    @include dropdown-time-entry();
  }
  .dd-keyboard-shortcuts {
    @include dropdown-keyboard-shortcuts();
  }
}

#sidenav {
  z-index: 1000;
  position: fixed;
  left: 247px;
  width: 247px;
  height: 100%;
  margin-left: -247px;
  overflow-y: auto;
  background: $white;
  &.is-admin {
    background-color: $extra-super-darkest-grey;
  }
}

#sidenav ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 247px;
  background-color: transparent;
  @include margin-and-padding(0, 0);
  > li {
    list-style-type: none;
  }
  a {
    color: $grey;
    position: relative;
    display: block;
    line-height: 2;
    padding: 10px;
    text-align: left;
    @include font-size(16px);
    @include hyperlink-hover($red);
    border-bottom: 1px solid $lightest-grey;
    &:hover {
      &::after {
        position: absolute;
        content: '';
        width: 5px;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $red;
      }
    }
    .fa {
      margin: 6px;
      height: 20px;
      width: 20px;
      line-height: 20px;
      margin-right: 20px;
      text-align: center;
      display: inline-block;
      @include font-size(20px);
      @media #{$tablet} {
         @include font-size(14px);
      }
    }
  }
  .toggle a {
    border: none;
    margin-top: 15px;
    color: $medium-grey;
    @include font-size(14px);
    .fa {
      color: inherit;
      margin-right: 5px;
      @include font-size(14px);
    }
    @include hyperlink-hover($red);
    &:hover {
      &::after {
        background-color: transparent;
      }
    }
  }
  .user {
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: $grey;
  }
  .user-details {
    margin-left: 20px;
    @include font-size(16px);
    span {
      display: block;
    }
    span:first-child {
      color: $darkest-grey;
    }
    span:last-child {
      color: $white;
    }
  }
  .user-authorization {
    padding: 15px;
    background-color: $extra-super-darkest-grey;
    span {
      color: $white;
      @include font-size(12px);
      text-transform: uppercase;
    }
    @media #{$tablet} {
      display: none;
    }
  }
}

#sidenav.is-admin ul {
  a {
    color: #bdbdbd;
    border-color: #848484;
    &:hover {
      color: $white;
      &::after {
        background-color: $white;
      }
    }
    &:focus {
      color: #bdbdbd;
    }
  }
  .toggle a:hover {
    color: $white;
    &::after {
      background-color: transparent;
    }
  }
  .user {
    background-color: $extra-super-darkest-grey;
  }
}

#wrapper {
  padding-left: 247px;
}

#wrapper.toggled {
  padding-left: 49px;
  #sidenav {
    width: 49px;
  }
  main {
    position: relative;
    margin-right: 0;
  }
  .page-title {
    margin-top: 36px !important;
  }
  .navbar-header {
    width: 49px;
  }
  .navbar-brand {
    background: $white no-repeat center center/cover url("../images/logo-background-small.png");
  }
  .navbar-logo {
    width: 22px;
    height: 22px;
    background: transparent no-repeat center center/cover url("../images/logo-shape-small.png");
  }
  #sidenav ul {
    .user > *,
    span {
      display: none;
    }
    .user {
      height: 60px;
      background: $light-grey no-repeat left/contain url('../images/site-user.png');
    }
    .user-authorization {
      display: none;
    }
    a {
      padding: 7px;
      font-size: 0;
    }
    .fa {
      @include font-size(14px);
    }
    .toggle a i::before {
      content: "\f178";
    }
  }
}

.bootstrap-switch {
  float: right;
}
