.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 80px;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  background-color: $white;
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  @media #{$tablet__up} {
    overflow: visible;
  }
}

.navbar-inner {
  position: relative;
  left: 0;
  width: 100%;
  min-height: 80px;
}

.navbar-header {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 80px;
  width: 247px;
}

.navbar-brand {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white no-repeat center center/cover url("../images/logo-background.png");
}

.navbar-logo {
  width: 133px;
  height: 40px;
  background: transparent no-repeat center center/cover url("../images/logo-shape.png");
}

#topnav-collapse {
  position: relative;
  .input-group {
    position: relative;
    z-index: 5;
    margin-bottom: 0;
    .input-group-addon {
      color: $red;
      border: none;
      border-radius: 0;
      padding-left: 15px;
      background-color: transparent;
      @include font-size(18px);
    }
    .input-search {
      height: 80px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      padding-right: 300px;
      color: $medium-grey;
      font-weight: $font-weight-light;
      @include font-size(20px);
      @include input-placeholder-color($medium-grey);
    }
    // Typeahead.js styles
    @include typeahead-styles();
  }
}

.navbar-right {
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 15px;
  background-color: $white;
  img {
    width: 14px;
  }
  a {
    color: $grey;
    @include hyperlink-hover($red);
    .fa {
      margin-right: 0;
    }
    &.feed-toggle {
      color: $grey;
      padding-left: 30px;
      padding-right: 30px;
      @include hyperlink-hover($red);
    }
  }
  .badge-notify {
    position: absolute;
    top: 22px;
    right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $red;
    @include font-size(12px);
  }
  .dd-notification {
    @include dropdown-notification();
  }
  .dd-time-entry {
    @include dropdown-time-entry();
  }
  .dd-keyboard-shortcuts {
    @include dropdown-keyboard-shortcuts();
  }
}

#sidenav {
  position: fixed;
  z-index: 1000;
  left: 247px;
  width: 247px;
  height: 100%;
  overflow: visible;
  background: $white;
  margin-left: -247px;
  &.is-admin {
    background-color: $extra-super-darkest-grey;
  }
}

#sidenav ul {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: block;
  background-color: transparent;
  @include margin-and-padding(0, 0);
  li {
    position: relative;
    list-style-type: none;
    &.toggle a {
      border: none;
      margin-top: 15px;
      color: $medium-grey;
      @include font-size(14px);
      .fa {
        color: inherit;
        margin-right: 5px;
        @include font-size(14px);
      }
      @include hyperlink-hover($red);
      &:hover {
        &::after {
          background-color: transparent;
        }
      }
    }
    .sub-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      bottom: auto;
      height: auto;
      min-width: 200px;
      background-color: $white;
      transform: translateX(0px);
      @include margin-and-padding(0, 0);
      box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    }
    &:hover {
      .sub-menu {
        display: block;
        transform: translateX(247px);
        @media #{$tablet} {
          transform: translateX(49px);
        }
      }
    }
  }
  a {
    position: relative;
    color: $grey;
    padding: 10px;
    display: block;
    line-height: 2;
    text-align: left;
    @include font-size(16px);
    @include hyperlink-hover($red);
    border-bottom: 1px solid $lightest-grey;
    &:hover {
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 100%;
        background-color: $red;
      }
    }
    .fa {
      margin: 6px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-right: 20px;
      text-align: center;
      display: inline-block;
      @include font-size(20px);
      @media #{$tablet} {
         @include font-size(14px);
      }
    }
  }
  .user {
    width: 100%;
    display: table;
    padding: 15px;
    background-color: $grey;
    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .user-details {
    margin-left: 20px;
    @include font-size(16px);
    span {
      display: block;
      &:first-child {
        color: $darkest-grey;
      }
      &:last-child {
        color: $white;
      }
    }
  }
  .user-authorization {
    padding: 15px;
    border: 1px solid transparent;
    background-color: $extra-super-darkest-grey;
    span {
      color: $white;
      @include font-size(12px);
      text-transform: uppercase;
    }
    @media #{$tablet} {
      display: none;
    }
  }
}

#sidenav.is-admin ul {
  a {
    color: $diamond-grey;
    border-color: $diamond-inverse;
    &:hover {
      &::after {
        background-color: $white;
      }
    }
    @include hyperlink-hover($white);
  }
  .toggle a {
    &:hover {
      &::after {
        background-color: transparent;
      }
    }
    @include hyperlink-hover($white);
  }
  .user {
    background-color: $extra-super-darkest-grey;
  }
  .user-authorization {
    border-top: 1px solid $diamond-inverse;
    border-bottom: 1px solid $diamond-inverse;
  }
}

#wrapper {
  padding-left: 247px;
}

#wrapper.toggled {
  padding-left: 49px;
  #sidenav {
    width: 49px;
  }
  main {
    position: relative;
    margin-right: 0;
  }
  .page-title {
    margin-top: 36px !important;
  }
  .navbar-header {
    width: 49px;
    .navbar-brand {
      background: $white no-repeat center center/cover url("../images/logo-background-small.png");
      .navbar-logo {
        width: 22px;
        height: 22px;
        background: transparent no-repeat center center/cover url("../images/logo-shape-small.png");
      }
    }
  }
  #sidenav ul {
    a {
      padding: 7px;
      font-size: 0;
    }
    .fa {
      @include font-size(14px);
    }
    .toggle a i::before {
      content: "\f178";
    }
    .user > *,
    span,
    .user-authorization {
      display: none;
    }
    .user {
      height: 60px;
      background: $red no-repeat center center/cover url('../images/site-user.png');
    }
  }
}

#switch {
  margin-top: 30px;
}

#user {
  color: #FFF;
  background-color: #000;
  &.is-admin {
    color: #000;
    background-color: #EEE;
  }
}

// User Authorization Switch
.switch {
  float: right;
  margin-top: 7.5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 10px;
  color: $white;
  input {
    display: none;
    &:checked + .slider {
      background-color: $red;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px $red;
    }
    &+.slider::before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      font-family: "fontawesome";
      content: '\f00c';
    }
    &:checked + .slider::before {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
      content: '';
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red;
    -webkit-transition: .4s;
    transition: .4s;
    &::before {
      position: absolute;
      content: "";
      height: 30px;
      width: 30px;
      left: 5px;
      right: 0;
      bottom: -10px;
      background-color: $red;
      -webkit-transition: .4s;
      transition: .4s;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    &.round {
      border-radius: 30px;
      &::before {
        border-radius: 50%;
      }
    }
  }
}
