// Colors

@mixin fa-color($color) {
  color: $color !important;
  &:hover {
    color: darken($color, 15%) !important;
  }
  &:active {
    color: darken($color, 15%) !important;
  }
  &:focus {
    color: darken($color, 15%) !important;
  }
}

// Declarations
.fa-red {
  @include fa-color($red);
}
.fa-blue {
  @include fa-color($blue);
}
.fa-medium-grey {
  @include fa-color($medium-grey);
}
.fa-yellow {
  @include fa-color($yellow);
}
.fa-white {
  @include fa-color($white);
}
.tr-blue {
  background-color: $light-blue;
}
.tr-grey {
  background-color: $medium-light-grey;
}

// Hyperlinks
a {
  // transition: all 0.5s;
  .fa {
    margin-right: 5px;
  }
}
a:hover {
  cursor: pointer;
}

// Lists
ul li {
  list-style-type: none;
}

// Buttons
button {
  transition: all 0.5s;
}

// Dropdowns
.dropdown-menu {
  margin: 0;
  border-radius: 0;
}

// Breadcrumb
.breadcrumb {
  position: absolute;
  top: 0;
  a {
    color: $red;
    @include hyperlink-hover($red);
  }
  li + * {
    @include icon-before('\f105' !important, $medium-grey !important);
    &::before {
      margin-right: 0;
    }
  }
}

// Buttons
.btn {
  border-radius: 0;
  text-transform: uppercase;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.15);
  @include font-size(16px);
  @media #{$tablet} {
    @include font-size(14px);
  }
}
.btn-secondary {
  color: $red;
  background-color: $extra-light-grey;
}
.btn-tertiary {
  color: $white;
  background-color: $green;
  &:hover {
    color: $white;
    background-color: darken($green, 10%);
  }
  &:active, &:focus, &:visited {
    color: $white;
  }
}

// Button Group with Dropdown, Make it Block level and Push caret to the right, Text to the left.
.btn-group.btn-block {
  .btn {
    text-align: left;
  }
  .caret {
    position: absolute;
    left: 90%;
    top: 45%;
  }
}

// Labels
label {
  color: $grey;
  text-align: left;
  font-weight: $font-weight-regular;
  &.control-label {
    text-align: left !important; // Bootstrap Default Value Override
  }
}

// Inputs
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"], {
  min-height: 36px;
  border-radius: 0 !important;
  box-shadow: none !important;
  @media #{$tablet} {
    min-height: 34px;
  }
}

// Textarea
textarea {
  resize: none;
  border-radius: 0 !important;
  box-shadow: none !important;
}

// Alert
.alert-timesheet {
  @include font-size(16px);
  color: $dark-yellow;
  border-color: $yellow;
  background-color: $light-yellow;
}

// Popover - has three child buttons.
.popover {
  max-width: 100%;
  border-radius: 0;
  background-color: $green;
  .arrow::after {
    border-right-color: $green !important;
  }
  .btn-group button {
    color: $green;
    @include font-size(12px);
    font-weight: $font-weight-bold;
    &::before {
      font-weight: $font-weight-regular;
    }
    &:active {
      color: $green;
    }
    &:first-of-type {
      @include icon-before( '\f017', $green);
    }
    &:first-of-type + button {
      @include icon-before( '\f144', $green);
    }
    &:last-of-type {
      @include icon-before( '\f022', $green);
    }
  }
}

// Custom Group Addon - Log Time for Time Entry page
.log-group {
  @extend .input-group;
}
.log-addon {
  @extend .input-group-addon;
}
.log-btns-addon {
  @extend .input-group-btn;
}

// Lychee Loader
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  transition: background 1s;
  background-color: $red; // Color ~ rgba(239, 64, 54, 0.8)
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: $white;
    margin-top: 30px;
    font-weight: $font-weight-light;
    @include font-size(20px);
    text-transform: uppercase;
  }
}

// Declare Mixins

// Inline Input
@include inline-input();

// Loader
@include loader();

// No Padding
.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

// Columns
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: $screen-sm-min) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: $screen-md-min) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: $screen-lg-min) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
} // Source: http://www.wearesicc.com/quick-tips-5-column-layout-with-twitter-bootstrap/

// Modals State
@include modal-standard();
@include modal-content-todo();
@include modal-content-taskdetails();
@include modal-content-taskslist();
@include modal-content-assignment();
@include modal-content-editproject();
@include modal-content-dyk();

// Dashboard Drag and Drop styles
.placeholder {
  margin: 0 15px 15px;
  border: 1px solid darken($light-grey, 5%);
  background-color: darken($light-grey, 2.5%);
}
.tile {
  height: 350px;
}

// Tables
.table-brief {
  width: auto;
  border: none;
  display: block;
  min-width: 500px;
  col {
    width: auto;
    &:first-child {
      min-width: 125px;
    }
    &:first-child+col+col {
      min-width: 125px;
    }
    &:first-child+col {
      min-width: 150px;
    }
    &:last-child {
      min-width: 150px;
    }
  }
  tr {
    background: none !important;
    td {
      padding: 2px;
      border: none;
      color: $black;
      text-align: left;
      &.title {
        color: $super-grey;
      }
    }
  }
}
