// Universal Links.
a {
  // @include word-wrap(normal);
  // @include transition(color 1s ease);
  &:link {
    text-decoration: none;
  }
}

// Buttons
.btn-secondary {
  color: $red;
  border-radius: 0;
  text-transform: uppercase;
  background-color: $extra-light-grey;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.15);
}

// Modals State
@include modal-standard();
@include modal-content-todo();
@include modal-content-taskdetails();

// Loading State
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  transition: background 1s;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: $white;
    margin-top: 30px;
    font-weight: 200;
    @include font-size(20px);
    text-transform: uppercase;
  }
}
@include loader();

// Alert Box State
.alert-timesheet {
  @extend .alert, .alert-warning;
  @include font-size(16px);
  color: $dark-yellow;
  border-color: $yellow;
  background-color: $light-yellow;
}
