//- Jade Resources
//- Compiler: http://html2jade.org/
//- Atom Package: https://atom.io/packages/jade-beautify

extends ./templates/default.jade

block title
	title Dashboard Page

block content
	include ./templates/_dashboard.jade
