//- Jade Resources
//- Compiler: http://html2jade.org/
//- Atom Package: https://atom.io/packages/jade-beautify

extends ./templates/default.jade

block title
	title Kitchen Sink Page

block content
	include ./templates/sink.jade
