//- Jade Resources
//- Compiler: http://html2jade.org/
//- Atom Package: https://atom.io/packages/jade-beautify

extends ./templates/default.jade

block title
	title Time Entry - Lychee by Jonah Group

block content
	include ./templates/_time-entry.jade
